
<template>
    <div>
        <VOnboardingWrapper ref="wrapper" :steps="steps" class="onboarding">
            <template #default="{ previous, next, step, exit, isFirst, isLast, index }">
                <VOnboardingStep>
                    <div class="custom-step">
                        <div class="custom-step-header">
                            <h3 v-if="step.content.title" class="">{{
                                    translate(lang, step.content.title)
                                    
                            }}</h3>
                            <a-button class="custom-button danger on-boarding-x"  danger type="primary" @click="() => { handleExit(exit) }">X</a-button>
                        </div>

                        <div class="custom-step-body">
                            <div v-if="step.content">
                                <div v-if="step.content.description" class="">
                                    <p>{{ translate(lang, step.content.description) }}</p>
                                </div>
                            </div>
                        </div>
                        
                        <a-button type="primary" class=" on-boarding-tutorial" v-if="step.on && step.on.startTutorial" @click="step.on.startTutorial()">{{translate(lang, 'general.runExample')}}</a-button>

                        <div class="custom-step-footer">
                            <a-button class="custom-button"  v-if="step.on !== undefined && step.on.before !== undefined" @click="step.on.before()" type="button" >run
                                before</a-button>
                            <a-button class="custom-button"  v-if="step.on !== undefined && step.on.after !== undefined" @click="step.on.after()" type="button" >run
                                after</a-button>
                            <div class="custom-step-navigation-buttons">
                                <a-button class="custom-button on-boarding-previous"  v-if="!isFirst" @click="previous" type="button" >{{translate(lang, 'general.previous')}}</a-button>
                                <span class="">{{
                                        `${index + 1}/${steps.length}`
                                }}</span>
                                <a-button class="custom-button on-boarding-next"  @click="() => { handleNext(next, isLast) }" type="button" >{{
                                        isLast ? translate(lang, 'general.finish') : translate(lang, 'general.next')
                                }}</a-button>
                            </div>
                        </div>
                    </div>
                </VOnboardingStep>
            </template>
        </VOnboardingWrapper>

        <!-- <VOnboardingWrapper ref="wrapper" :steps="steps" class="onboarding">
            <template #default="{ previous, next, step, exit, isFirst, isLast, index }">
                <VOnboardingStep>
                    <a-card size="small" :title="step.content.title" style="maxWidth: 50vw">
                        <template #extra>
                            <a-button class="custom-button"  @click="() => { handleExit(exit) }">X</a-button>
                        </template>

                        <div class="">
                            <div class="">
                                <div v-if="step.content">
                                    <div v-if="step.content.description" class="">
                                        <p>{{ step.content.description }}</p>
                                    </div>
                                </div>
                            </div>
                            <span class="">{{
                                    `${index + 1}/${steps.length}`
                            }}</span>
                        </div>

                        <template #actions>
                            <div class="buttons-line">
                                <button v-if="step.on !== undefined" @click="step.on.before()" type="button"
                                    class="">run before</button>

                                <button v-if="step.on !== undefined" @click="step.on.after()" type="button" class="">run
                                    after</button>

                                <div class="">

                                    <template v-if="!isFirst">
                                        <button @click="previous" type="button" class="">Previous</button>
                                    </template>
                                    <template v-if="isFirst">
                                        <div></div>
                                    </template>
                                    <button @click="() => { handleNext(next, isLast) }" type="button" class="">{{
                                            isLast ? 'Finish' : 'Next'
                                    }}</button>
                                </div>
                            </div>
                        </template>
                    </a-card>
                </VOnboardingStep>
            </template>
        </VOnboardingWrapper> -->
    </div>
</template>

<script setup>
import { defineComponent, ref, onMounted, computed } from 'vue'
import { VOnboardingWrapper, VOnboardingStep, useVOnboarding } from 'v-onboarding'
import 'v-onboarding/dist/style.css'
import { useStorage } from '@vueuse/core'
import { useStore } from "../../../stores/globalStore"
import { translate } from '../../../languages/languages'


const store = useStore()

const lang = computed(() => {
    return store.settings.lang
});
// const showOnboarding = useStorage("showOnboarding", true)

const showOnboarding = ref(store.settings.showOnboarding)
// //console.log(showOnboarding.value)
const wrapper = ref(null)

const log = () => {
    //console.log(arguments)
    for (let a of arguments) {
        //console.log(a)
    }
    return ""
}
const handleNext = (next, isLast) => {
    next()
    if (isLast) {
        setOnBoardingOff()
    }
}

const setOnBoardingOff = () => {
    // showOnboarding.value = false
    store.setSettings({
        showOnboarding: false
    })
}

const setOnBoardingTutorialOn = () => {
    // showOnboarding.value = false
    store.setShowOnboardingTutorial(true)
}


const handleExit = (exit) => {
    store.setAcceptModal({
        visible: true,
        message: translate(lang.value,"onBoarding.warningModalMessage"),
        title: translate(lang.value,"onBoarding.warningModalTitle"),
        callback: () => {
            exit()
            setOnBoardingOff()
        },
    })
}

//dodělat - fixnout - podmínku když je false tak nezobrazovat + vymyslet a doplnit jednotlivé kroky

const { start, goToStep, finish } = useVOnboarding(wrapper)
const steps = [
    {
        attachTo: {
            element: '.vue-flow'
        }, content: {
            title: "onBoarding.titles.welcome",
            description: "onBoarding.descriptions.welcome"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '.vue-flow'
        }, content: {
            title: "onBoarding.titles.canvas",
            description: "onBoarding.descriptions.canvas"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: "#language-switch",
            classList: ["attached", "bar"]
        },
        content: {
            title: "onBoarding.titles.language",
            description: "onBoarding.descriptions.language"
        },
        options: {
            scrollToStep: {
                enabled: false
            }
        }
        // on: {
        //     before: () => { //console.log("before") },
        //     after: () => { //console.log("after") }
        // },
        // options: {}
    },
    {
        attachTo: {
            element: 'svg.vue-flow__minimap'
        }, content: {
            title: "onBoarding.titles.minimap",
            description: "onBoarding.descriptions.minimap"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'top',
            }
        }
    },
    {
        attachTo: {
            element: '#data-preview-inputs'
        }, content: {
            title: "onBoarding.titles.previewInputs",
            description: "onBoarding.descriptions.previewInputs"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#data-preview-inputs .ant-select'
        }, content: {
            title: "onBoarding.titles.previewInputsSelect",
            description: "onBoarding.descriptions.previewInputsSelect"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#data-preview-outputs'
        }, content: {
            title: "onBoarding.titles.previewOutput",
            description: "onBoarding.descriptions.previewOutput"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#log'
        }, content: {
            title: "onBoarding.titles.log",
            description: "onBoarding.descriptions.log"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#app > section > header > ul > li.ant-menu-overflow-item.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child'
        }, content: {
            title: "onBoarding.titles.tab",
            description: "onBoarding.descriptions.tab"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '.add-tab-button'
        }, content: {
            title: "onBoarding.titles.addTab",
            description: "onBoarding.descriptions.addTab"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#settings-button'
        }, content: {
            title: "onBoarding.titles.settings",
            description: "onBoarding.descriptions.settings"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#menu-drawer-close-button'
        }, content: {
            title: "onBoarding.titles.nodesMenu",
            description: "onBoarding.descriptions.nodesMenu"
        },
        actions: [
            {
                title: "Co je to Plátno?",
                action: () => { goToStep(2) }
            }
        ],
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: "#menu-drawer-close-button",
            classList: ["attached", "bar"]
        },
        content: {
            title: "onBoarding.titles.ending",
            description: "onBoarding.descriptions.ending"
        },
        options: {
            scrollToStep: {
                enabled: false
            }
        },
        on: {
            startTutorial: () => { 
                //console.log("TUTORIALSTARTED")
                finish()
                setOnBoardingTutorialOn()
            },
            // after: () => { //console.log("after") }
        },
        // options: {}
    },
]

onMounted(() => {
    if (showOnboarding.value) {
        start()
    }
})

</script>
<style lang="less">
.onboarding {
    z-index: 1001;
}

.onboarding svg {
    z-index: 999 !important;
}

.onboarding>div>div {

    z-index: 1002 !important;
}

.onboarding svg {
    background: rgb(197, 217, 255);
}

.custom-step {
    background: white;
    padding: 20px;
    z-index: 1001 !important;
    border-radius: 10px;
    max-width:400px;
}

.custom-step-header {
    display: flex;
    justify-content: space-between;
}

.custom-step-body {
    display: flex;

}

.custom-step-footer {
    display: flex;
    width: 100%;
}


.custom-step-navigation-buttons {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.buttons-line {
    width: 100%;
    padding: 10px;
}

.buttons-line div {
    width: 100%;
    display: flex;
    justify-content: space-between
}
</style>



<!-- transform: translate(1203.05px, 508.152px) scale(0.665141); -->
<!-- transform: translate(2023.94px, 733.779px) scale(1.67605); -->