
<template>
    <div>
        <VOnboardingWrapper ref="wrapper" :steps="steps" class="onboarding">
            <template #default="{ previous, next, step, exit, isFirst, isLast, index }">
                <VOnboardingStep>
                    <div class="custom-step">
                        <div class="custom-step-header">
                            <h3 v-if="step.content.title" class="">{{
                                    translate(lang, step.content.title)
                                    
                            }}</h3>
                            <a-button class="custom-button danger on-boarding-x"  danger type="primary" @click="() => { handleExit(exit) }">X</a-button>
                        </div>

                        <div class="custom-step-body">
                            <div v-if="step.content">
                                <div v-if="step.content.description" class="">
                                    <p>{{ translate(lang, step.content.description) }}</p>
                                </div>
                            </div>
                        </div>
                        
                        <a-button type="primary" v-if="step.on && step.on.startTutorial" @click="step.on.startTutorial()">{{translate(lang, 'general.runExample')}}</a-button>

                        <div class="custom-step-footer">
                            <a-button class="custom-button"  v-if="step.on !== undefined && step.on.before !== undefined" @click="step.on.before()" type="button" >run
                                before</a-button>
                            <a-button class="custom-button"  v-if="step.on !== undefined && step.on.after !== undefined" @click="step.on.after()" type="button" >run
                                after</a-button>
                            <div class="custom-step-navigation-buttons">
                                <a-button class="custom-button on-boarding-previous"  v-if="!isFirst" @click="previous" type="button" >{{translate(lang, 'general.previous')}}</a-button>
                                <span class="">{{
                                        `${index + 1}/${steps.length}`
                                }}</span>
                                <a-button class="custom-button on-boarding-next"  @click="() => { handleNext(next, isLast) }" type="button" >{{
                                        isLast ? translate(lang, 'general.finish') : translate(lang, 'general.next')
                                }}</a-button>
                            </div>
                        </div>
                    </div>
                </VOnboardingStep>
            </template>
        </VOnboardingWrapper>
    </div>
</template>

<script setup>
import { defineComponent, ref, onMounted, computed } from 'vue'
import { VOnboardingWrapper, VOnboardingStep, useVOnboarding } from 'v-onboarding'
import 'v-onboarding/dist/style.css'
import { useStorage } from '@vueuse/core'
import { useStore } from "../../../stores/globalStore"
import { translate } from '../../../languages/languages'


const store = useStore()

const lang = computed(() => {
    return store.settings.lang
});
// const showOnboarding = useStorage("showOnboarding", true)

const showOnboarding = computed(() => {
    return store.showOnboardingTutorial
});
// const showOnboarding = ref(store.showOnboardingTutorial)
// //console.log(showOnboarding.value)
const wrapper = ref(null)

const log = () => {
    //console.log(arguments)
    for (let a of arguments) {
        //console.log(a)
    }
    return ""
}
const handleNext = (next, isLast) => {
    next()
    if (isLast) {
        setOnBoardingOff()
    }
}

const setOnBoardingOff = () => {
    // showOnboarding.value = false
    store.setShowOnboardingTutorial(false)
}

const setOnBoardingTutorialOn = () => {
    // showOnboarding.value = false
    store.setShowOnboardingTutorial(true)
}


const handleExit = (exit) => {
    store.setAcceptModal({
        visible: true,
        message: translate(lang.value,"onBoarding.warningModalMessage"),
        title: translate(lang.value,"onBoarding.warningModalTitle"),
        callback: () => {
            exit()
            setOnBoardingOff()
        },
    })
}

//dodělat - fixnout - podmínku když je false tak nezobrazovat + vymyslet a doplnit jednotlivé kroky

const { start, goToStep, finish } = useVOnboarding(wrapper)
const steps = [
    {
        attachTo: {
            element: '.menu-drawer'
        }, content: {
            title: "onBoardingTutorial.titles.taskMenu",
            description: "onBoardingTutorial.descriptions.taskMenu"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'right',
            }
        }
    },
    {
        attachTo: {
            element: '.menu-drawer .ant-menu-title-content'
        }, content: {
            title: "onBoardingTutorial.titles.nodeCategory",
            description: "onBoardingTutorial.descriptions.nodeCategory"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'right',
            }
        }
    },
    {
        attachTo: {
            element: '.dragable-node-input-server-set'
        }, content: {
            title: "onBoardingTutorial.titles.dragableNode",
            description: "onBoardingTutorial.descriptions.dragableNode"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'right',
            }
        }
    },
    {
        attachTo: {
            element: '#dndnode_1_flow-Tab-1'
        }, content: {
            title: "onBoardingTutorial.titles.node",
            description: "onBoardingTutorial.descriptions.node"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#dndnode_1_flow-Tab-1 .dot-alpha'
        }, content: {
            title: "onBoardingTutorial.titles.status",
            description: "onBoardingTutorial.descriptions.status"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#dndnode_1_flow-Tab-1 .node-header'
        }, content: {
            title: "onBoardingTutorial.titles.handle",
            description: "onBoardingTutorial.descriptions.handle"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#dndnode_1_flow-Tab-1 .anticon-setting'
        }, content: {
            title: "onBoardingTutorial.titles.settings",
            description: "onBoardingTutorial.descriptions.settings"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#dndnode_1_flow-Tab-1 .anticon-close'
        }, content: {
            title: "onBoardingTutorial.titles.close",
            description: "onBoardingTutorial.descriptions.close"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#dndnode_1_flow-Tab-1 .node-header-title'
        }, content: {
            title: "onBoardingTutorial.titles.title",
            description: "onBoardingTutorial.descriptions.title"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#dndnode_1_flow-Tab-1-drawer .ant-ribbon-text'
        }, content: {
            title: "onBoardingTutorial.titles.category",
            description: "onBoardingTutorial.descriptions.category"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    
    {
        attachTo: {
            element: 'div[data-test-id="dndnode_1_flow-Tab-1-a-output"]'
        }, content: {
            title: "onBoardingTutorial.titles.output",
            description: "onBoardingTutorial.descriptions.output"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    
    {
        attachTo: {
            element: 'div[data-test-id="dndnode_2_flow-Tab-1-a-input"]'
        }, content: {
            title: "onBoardingTutorial.titles.input",
            description: "onBoardingTutorial.descriptions.input"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#app > section > section > section > main > div.dndflow > div.vue-flow > div.vue-flow__viewport.vue-flow__container > div.vue-flow__transformationpane.vue-flow__container > svg > g > g:nth-child(2)'
        }, content: {
            title: "onBoardingTutorial.titles.edge",
            description: "onBoardingTutorial.descriptions.edge"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#dndnode_1_flow-Tab-1-dndnode_2_flow-Tab-1'
        }, content: {
            title: "onBoardingTutorial.titles.edgeRemove",
            description: "onBoardingTutorial.descriptions.edgeRemove"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#dndnode_2_flow-Tab-1-task-container'
        }, content: {
            title: "onBoardingTutorial.titles.taskSettings",
            description: "onBoardingTutorial.descriptions.taskSettings"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#dndnode_2_flow-Tab-1-save-dataset-button'
        }, content: {
            title: "onBoardingTutorial.titles.saveDataset",
            description: "onBoardingTutorial.descriptions.saveDataset"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#dndnode_1_flow-Tab-1'
        }, content: {
            title: "onBoardingTutorial.titles.datasetNode",
            description: "onBoardingTutorial.descriptions.datasetNode"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: "#dndnode_1_flow-Tab-1 .ant-select-selection-item",
            classList: ["attached", "bar"]
        },
        content: {
            title: "onBoardingTutorial.titles.selectDataset",
            description: "onBoardingTutorial.descriptions.selectDataset"
        },
        options: {
            scrollToStep: {
                enabled: false
            }
        }
        // on: {
        //     before: () => { //console.log("before") },
        //     after: () => { //console.log("after") }
        // },
        // options: {}
    },
    {
        attachTo: {
            element: '#dndnode_1_flow-Tab-1 .node-content .ant-btn'
        }, content: {
            title: "onBoardingTutorial.titles.refresh",
            description: "onBoardingTutorial.descriptions.refresh"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'top',
            }
        }
    },
    {
        attachTo: {
            element: '#dndnode_1_flow-Tab-1 .selected-data'
        }, content: {
            title: "onBoardingTutorial.titles.selectedData",
            description: "onBoardingTutorial.descriptions.selectedData"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    
    {
        attachTo: {
            element: '#dndnode_2_flow-Tab-1'
        }, content: {
            title: "onBoardingTutorial.titles.tokenize",
            description: "onBoardingTutorial.descriptions.tokenize"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    
    {
        attachTo: {
            element: '#dndnode_2_flow-Tab-1-availableColumns'
        }, content: {
            title: "onBoardingTutorial.titles.availableColumns",
            description: "onBoardingTutorial.descriptions.availableColumns"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#dndnode_2_flow-Tab-1-selectLanguage'
        }, content: {
            title: "onBoardingTutorial.titles.taskLanguage",
            description: "onBoardingTutorial.descriptions.taskLanguage"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#dndnode_2_flow-Tab-1-targetColumn'
        }, content: {
            title: "onBoardingTutorial.titles.targetColumn",
            description: "onBoardingTutorial.descriptions.targetColumn"
        },
        actions: [
            {
                title: "Co je to Plátno?",
                action: () => { goToStep(2) }
            }
        ],
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#dndnode_2_flow-Tab-1-inplaceColumn'
        }, content: {
            title: "onBoardingTutorial.titles.inplaceColumn",
            description: "onBoardingTutorial.descriptions.inplaceColumn"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#dndnode_2_flow-Tab-1-newColumn'
        }, content: {
            title: "onBoardingTutorial.titles.newColumn",
            description: "onBoardingTutorial.descriptions.newColumn"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#dndnode_3_flow-Tab-1-dropColumns'
        }, content: {
            title: "onBoardingTutorial.titles.dropColumns",
            description: "onBoardingTutorial.descriptions.dropColumns"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#run-button'
        }, content: {
            title: "onBoardingTutorial.titles.runPipeline",
            description: "onBoardingTutorial.descriptions.runPipeline"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#upload-button'
        }, content: {
            title: "onBoardingTutorial.titles.upload",
            description: "onBoardingTutorial.descriptions.upload"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    {
        attachTo: {
            element: '#download-button'
        }, content: {
            title: "onBoardingTutorial.titles.download",
            description: "onBoardingTutorial.descriptions.download"
        },
        options: {
            scrollToStep: {
                enabled: false
            },
            popper: {
                placement: 'bottom',
            }
        }
    },
    //Skip to last step
    {
        attachTo: {
            element: "#download-button",
        },
        content: {
            title: "onBoardingTutorial.titles.ending",
            description: "onBoardingTutorial.descriptions.ending"
        },
        options: {
            scrollToStep: {
                enabled: false
            }
        },
        on: {
            // startTutorial: () => { 
            //     //console.log("TUTORIALSTARTED")
            //     finish()
            //     setOnBoardingTutorialOn()
            // },
            // after: () => { //console.log("after") }
        },
        // options: {}
    },
]

onMounted(() => {
    if (showOnboarding.value) {
        
        store.menuSwitch(true);
        store.flowFunctions.loadActiveFlow()
        let timer = setTimeout(()=>{
            start()
        },10)
    }
})

</script>
<style lang="less">

</style>