<script lang="ts" setup>
    import { ref, reactive } from "vue"
    import { Line } from 'vue-chartjs'
    import { 
        Chart as ChartJS,
        Title,
        Tooltip,
        Legend,
        LineElement,
        LinearScale,
        PointElement,
        CategoryScale,
        Plugin
    } from 'chart.js'

    ChartJS.register(Title,
        Tooltip,
        Legend,
        LineElement,
        LinearScale,
        PointElement,
        CategoryScale
    )

    const chartData = reactive({
        
        labels: [ '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11' ],
        // labels: () => {
        //     for (let i = 0; i < cars.length; i++) {
        //         text += cars[i] + "<br>";
        //     }
        //     return 
        // }
        // data: [0, 10 ,20 ,30, 40, 50],
        datasets: [ 
            {   
                label: "Model accuracy",
                data: [40, 20, 12, 30, 50, 18, 54, 95, 21, 61, 64] ,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                ],
                borderWidth: 1
            },
            {   
                label: "Model testing accuracy",
                data: [30, 50, 10, 94, 56, 45, 67, 75, 14, 67, 48] ,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: [ //indexable - pro každý bod jiná vlastnost
                    'rgba(54, 162, 235, 1)',
                ],
                borderWidth: 1
            },
        ]
    })

    const chartOptions = reactive({
        responsive: true,
        maintainAspectRatio: false
    }) 

    const chartId = ref("chart_1")
    
    const datasetIdKey = ref("chart_1")
    const plugins = ref([])
    const cssClasses = ref("chart_1")
    const styles = ref({})
    const width = ref(0)
    const height = ref(0.5)

    const updateJanuary = (event) => {
        chartData.datasets[0].data[0] = event.target.value
    }
    const updateFebruary = (event) => {
        chartData.datasets[0].data[1] = event.target.value
    }
    const updateMarch = (event) => {
        chartData.datasets[0].data[2] = event.target.value
    }

</script>

<template>
    <Line
        :chart-options="chartOptions"
        :chart-data="chartData"
        :chart-id="chartId"
        :dataset-id-key="datasetIdKey"
        :plugins="plugins"
        :css-classes="cssClasses"
        :styles="styles"
        :width="width"
        :height="height"
    />
    <a-input :value="chartData.datasets[0].data[0]" @change="updateJanuary($event)" />
    <a-input :value="chartData.datasets[0].data[1]" @change="updateFebruary($event)" />
    <a-input :value="chartData.datasets[0].data[2]" @change="updateMarch($event)" />
</template>

<stye scoped>

</stye>