<template>
    <div class="container" id="data-preview-inputs">
        <div class="header">
            <h3>{{ translate(lang, "dataPreview.input") }}:</h3>
            <a-button class="custom-button"  v-if="DEV_MODE" @click="handleTestButtonClick">TestBUtton</a-button>
            <a-select ref="select" id="data-preview-inputs-select-input" v-model:value="inputSelect"
                style="width: 120px" @focus="focus" @change="handleChange" :options="options" :disabled="disabled">
                <!-- <a-select-option value="jack">Jack</a-select-option>
                <a-select-option value="lucy">Lucy</a-select-option>
                <a-select-option value="disabled" disabled>Disabled</a-select-option>
                <a-select-option value="Yiminghe">yiminghe</a-select-option> -->
            </a-select>
        </div>
        <div class="content-container">
            <!-- <div v-if="formatData().length > 0"> -->
            <div v-if="inputSelect === DATA_TABLE">
                <Table :data="formatData()" :columns="formatColumns()"></Table>
                <!-- {{formatTextData()}} -->
            </div>
            <!-- <div v-else-if="inputSelect === DATA_TEXT_DATASET">
                <pre><code>{{ getReadableDataset(formatData(), store.settings.lengthOfText) }}</code></pre>
            </div> -->
            <div v-else-if="inputSelect === DATA_TEXT_DATASET">
                <DatasetTable :data="getData()" :columns="getColumns()"/>
            </div>
            <div v-else-if="inputSelect === DATA_TOKENS">
                <pre><code>{{ getReadableTokens(formatData()) }}</code></pre>
            </div>
            <div v-else-if="inputSelect === DATA_CSV">
                {{ formatData() }}
            </div>
            <div v-else>
                {{ translate(lang, "dataPreview.noData") }}
            </div>
        </div>
    </div>

</template>

<script lang="ts" setup>
import { ref, computed, watch, watchEffect } from "vue"
import { useVueFlow } from '@braks/vue-flow'
import Table from "../Table.vue"
import DatasetTable from "../global/DatasetTable.vue"
import { INPUTS } from "../../constants/nodeTypes"
import { DATA_CSV, DATA_TABLE, DATA_TEXT_DATASET, DATA_TOKENS } from "../../constants/dataTypes"
import { translate } from '../../languages/languages';
import { useStore } from "../../stores/globalStore"
import { arrayTypeToString, getReadableDataset, getReadableTokens } from "../../helpers/globalHelper"
import { DEV_MODE } from "../../constants/config"
const store = useStore()


const lang = computed(() => {
    return store.settings.lang
});

const { getSelectedNodes } = useVueFlow()

const processingData = computed(() => {
    return getSelectedNodes
});

watch(getSelectedNodes, () => {

    // is some node selected and is not input node (have no inputs)

    if (processingData.value.value[0] && INPUTS.indexOf(processingData.value.value[0].data.logicNode.nodeType) === -1) {
        let inputs = []




        for (let input of processingData.value.value[0].data.logicNode.inputs) {
            inputs.push({
                value: input.type,
                label: input.type
            })
        }
        options.value = inputs
        disabled.value = false

        inputSelect.value = options.value[0].value
    } else {
        disabled.value = true
        options.value = [{
            value: "",
            label: translate(lang.value, "dataPreview.empty"),
            disabled: true
        }]
        inputSelect.value = options.value[0].value
    }

})

const options = ref([{
    value: 'jack',
    label: 'Jack',
}, {
    value: 'lucy',
    label: 'Lucy',
}, {
    value: 'andrew',
    label: 'Andrew',
    disabled: true,
}, {
    value: 'yiminghe',
    label: 'Yiminghe',
}]);

const inputSelect = ref(options.value[0].value)
const disabled = ref(false)


const focus = () => {

};

const handleChange = value => {

};

const handleTestButtonClick = () => {
    //console.log(processingData)
}


const formatData = () => {
    const value = processingData.value.value
    if (value.length > 0) {
        for (let input of value[0].data.logicNode.inputs) {
            if (inputSelect.value === input.type) {
                return input.data
            }
        }
    }

    return []
}

const formatColumns = () => {
    const value = processingData.value.value
    if (value.length > 0) {
        return createColumnsForTable()
    }

    return []
}

// const formatTextData = () => {
//     const value = processingData.value.value
//     if (value.length > 0){
//         for (let input of value[0].data.logicNode.inputs){
//             
//             
//             if (inputSelect.value === input.type){
//                 return input.data
//             }
//         }
//     }

//     return []
// }

const createColumnsForTable = () => {
    let columns = []
    const value = processingData.value.value
    //
    for (let input of value[0].data.logicNode.inputs) {
        if (inputSelect.value === input.type) {

            for (let column of input.dataColumns) {
                let columnOption = {
                    title: column,
                    dataIndex: column
                }
                columns.push(columnOption)
            }
        }
    }

    //

    //console.log(columns)
    return columns
}
//získání hlaviček sloupců pro tabulku
const getColumns = () => {
    let columns = []
    const value = processingData.value.value
    //projde všechny inputy
    for (let input of value[0].data.logicNode.inputs) {
        //pokud typ inputu se shoduje s vybraným inputem
        if (inputSelect.value === input.type) {
            //pro všechny "řádky"
            if (input.data.payload && input.data.payload.length>0){
            for (let column of input.data.payload) {
                //pro všechny sloupce (vlastnosti)
                for (let property in column){
                    //definuje se nová hlavička pro tabulku
                    let isUniqueTableHead = true
                    let columnOption = {
                        title: property,
                        dataIndex: property
                    }

                    //jestli se najde v existujících hlavičkách hlavička se stejným názvem
                    //vlajkou se označí že byla nalezena stejná hlavička
                    for (let option of columns){
                        if (option.title === columnOption.title){
                            isUniqueTableHead = false
                        }
                    } 
                    //pokud vlajka říká že hlavička nebyla nalezena, nová hlavička se přidá mezi hlavičky
                    if(isUniqueTableHead){
                        columns.push(columnOption)
                    }
                }
                
            }
        }
        }
    }

    //

    return columns
}
//získání dat pro tabulku
const getData = () => {
    //získání dat z uzlu
    let data = formatData()
    //pokud mají data vlastnost payload
    if (data.payload){
        //pro každou položku v payload (řádek)
        for (let d of data.payload){
            //pro každou vlastnost řádku (sloupec)
            for (let property in d){
                //pokud jsou data vlastnosti pole
                if (Array.isArray(d[property])){
                    //jedná se o tokeny a je potřeba je správně naformátovat
                    // d[property] = d[property].join(" | ")
                    // //console.log(JSON.stringify(d[property]))
                    // d[property] = JSON.stringify(d[property])
                }
            }
        }
        //console.log()
        return data.payload
    }

    return data
}

</script>

<style lang="less" scoped>
.header {
    border-bottom: 1px solid darkgray;
    justify-content: space-between;
    padding: 5px;
}

.header h3 {
    // color: @textColorLight;
    color: white;
}

.container {
    max-height: 100%;
    color: white;
    // color: @textColorLight;
    overflow: hidden;
}

.content-container {
    overflow-x: auto;
    overflow-y: scroll;
    height: 200px;
    border-top: rgba(255, 255, 255, 0.322);
}
pre{
    overflow: visible;
}
</style>