<template>
    <div class="container" id="data-preview-outputs">
        <div class="header">
            <h3>{{translate(lang,"dataPreview.output")}}:</h3>
            <a-select
                ref="select"
                v-model:value="outputSelect"
                style="width: 120px"
                @focus="focus"
                @change="handleChange"
                :options="options"
                :disabled="disabled"
                >
                <!-- <a-select-option value="jack">Jack</a-select-option>
                <a-select-option value="lucy">Lucy</a-select-option>
                <a-select-option value="disabled" disabled>Disabled</a-select-option>
                <a-select-option value="Yiminghe">yiminghe</a-select-option> -->
            </a-select>
        </div>
        <div class="content-container">
            <!-- <div v-if="formatData().length > 0"> -->
                
            <div v-if="outputSelect === DATA_TABLE">
                <Table :data="formatData()" :columns="formatColumns()"></Table>
                <!-- {{formatTextData()}} -->
            </div>
            <!-- <div v-else-if="outputSelect === DATA_TEXT_DATASET">
                <pre><code>{{ getReadableDataset(formatData(),store.settings.lengthOfText) }}</code></pre>
            </div> -->
            <div v-else-if="outputSelect === DATA_TEXT_DATASET">
                <DatasetTable :data="getData()" :columns="getColumns()"/>
            </div>
            <div v-else-if="outputSelect === DATA_TOKENS">
                <pre><code>{{ getReadableTokens(formatData()) }}</code></pre>
            </div>
            <div v-else-if="outputSelect === DATA_CSV">
                {{formatData()}}
            </div>
            <div v-else>
                {{translate(lang,"dataPreview.noData")}}
            </div>
        </div>
    </div>
    
</template>

<script lang="ts" setup>
    import { ref, computed, watch, watchEffect } from "vue"
    import { useVueFlow } from '@braks/vue-flow'
    import Table from "../Table.vue"
    import DatasetTable from "../global/DatasetTable.vue"
    import {useStore} from "../../stores/globalStore"
    import { OUTPUTS } from "../../constants/nodeTypes"
    import { DATA_TOKENS, DATA_CSV, DATA_TABLE, DATA_TEXT_DATASET } from "../../constants/dataTypes"
    import { translate} from '../../languages/languages';
import { arrayTypeToString, getReadableDataset, getReadableTokens } from "../../helpers/globalHelper"
    
    const lang = computed(() => {
        return store.settings.lang
    });
    
    const store = useStore()

    
    const { getSelectedNodes } = useVueFlow()

    const processingData = computed(() => {
        return getSelectedNodes
    });
    
    watch(getSelectedNodes,()=>{
        if (processingData.value.value[0] && OUTPUTS.indexOf(processingData.value.value[0].data.logicNode.nodeType) === -1){
            let outputs = []
            for (let output of processingData.value.value[0].data.logicNode.outputs){
                outputs.push({
                    value:output.type,
                    label:output.type
                })
            }
            options.value = outputs
            disabled.value = false
            outputSelect.value = options.value[0].value
        } else {
            disabled.value = true
            options.value = [{
                value: "", 
                label: translate(lang.value,"dataPreview.empty"), 
                disabled:true
            }]
            outputSelect.value = options.value[0].value
        }
        
    })

    const options = ref([{
        value: 'jack',
        label: 'Jack',
    }, {
        value: 'lucy',
        label: 'Lucy',
    }, {
        value: 'andrew',
        label: 'Andrew',
        disabled: true,
    }, {
        value: 'yiminghe',
        label: 'Yiminghe',
    }]);

    const outputSelect = ref(options.value[0].value)
    const disabled = ref(false)
    
    const focus = () => {
        
    };

    const handleChange = value => {
        
    };
    

    const formatData = () => {
        const value = processingData.value.value
        if (value.length > 0){
            for (let output of value[0].data.logicNode.outputs){
                
                
                if (outputSelect.value === output.type){
                    return output.data
                }
            }
        }
        
        return []
    }

    const formatColumns = () => {
        const value = processingData.value.value
        if (value.length > 0){
            return createColumnsForTable()
        }

        return []
    }

    // const formatTextData = () => {
    //     const value = processingData.value.value
    //     if (value.length > 0){
    //         for (let output of value[0].data.logicNode.outputs){
    //             
    //             
    //             if (outputSelect.value === output.type){
    //                 return output.data
    //             }
    //         }
    //     }
        
    //     return []
    // }

    const createColumnsForTable = () =>{
        let columns = []
        const value = processingData.value.value
        

        for (let output of value[0].data.logicNode.outputs){
            if (outputSelect.value === output.type){
                for (let column of output.dataColumns){
                    let columnOption = {
                        title: column,
                        dataIndex: column,
                        key:column
                    }
                    columns.push(columnOption)
                }
            }
        }


// for (let output of value[0].data.logicNode.outputs){
//                 if (outputSelect.value === output.type){
//                     
//                     for (let column of output.dataColumns){
//                         let columnOption = {
//                             title: column,
//                             dataIndex: column
//                         }
//                         columns.push(columnOption)
//                     }
//                 }
//             }
        return columns
    }

    
const getColumns = () => {
    let columns = []
    const value = processingData.value.value
    for (let output of value[0].data.logicNode.outputs) {
        if (outputSelect.value === output.type) {
            if (output.data.payload && output.data.payload.length>0){
            for (let column of output.data.payload) {
                for (let property in column){
                    let isUniqueTableHead = true
                    let columnOption = {
                        title: property,
                        dataIndex: property
                    }

                    for (let option of columns){
                        if (option.title === columnOption.title){
                            isUniqueTableHead = false
                        }
                    } 

                    if(isUniqueTableHead){
                        
                        columns.push(columnOption)
                    }
                }
                
            }
        }
        }
    }

    //

    return columns
}

const getData = () => {
    let data = formatData()
    if (data.payload){
        //console.log(data.payload)
        for (let d of data.payload){
            for (let property in d){
                //console.log(Array.isArray(d[property]))
                if (Array.isArray(d[property])){
                    //...naformátovat tokeny aby se zobrazovali...
                    // d[property] = d[property].join(" | ")
                    // //console.log(JSON.stringify(d[property]))
                    // d[property] = JSON.stringify(d[property])
                }
            }
        }
        return data.payload
    }

    return data
}

</script>

<style lang="less" scoped>
.header{
    border-bottom: 1px solid darkgray;
    justify-content: space-between;
    padding:5px;

}
.header h3 {
    color: white;
    // color: @textColorLight;
}
.container{
    max-height: 100%;
    color:white;
    // color: @textColorLight;
    overflow: hidden;
}
.content-container{
    overflow-x: auto;
    overflow-y: scroll;
    height:200px
}
pre{
    overflow: visible;
}
</style>