<template>

    <a-modal :cancelText="translate(lang, 'general.cancel')" :okText="translate(lang, 'general.ok')"
        v-model:visible="historyModalOpened" :title="translate(lang, 'general.history')" width="1020" :closable="false" id="history-modal"
        :footer-style="{ textAlign: 'right' }" @close="handleOpenHistoryClick" @ok="handleOpenHistoryClick">
        <!-- <div v-if="DEV_MODE">
            {{ JSON.stringify(history) }}
        </div> -->
        <ul>
            <li class="history-step" v-for="[index, h] of history.entries()" :key="index"
                @click="handleHistoryStepClick($event, index)">
                <button v-if="DEV_MODE" @click="handleHClick(h)">h</button>
                {{ index }}
                {{ h.message }}
            </li>
        </ul>
        <a-button class="custom-button" v-if="DEV_MODE" @click="handleTestClick">Test</a-button>
        <template #footer>
            <!-- <a-button class="custom-button" key="back" @click="props.cancel()">Cancel</a-button> -->
            <a-button class="custom-button" key="submit" type="primary" @click="handleOpenHistoryClick">Ok</a-button>
        </template>
    </a-modal>
    <div class="container" id="log">
        <div class="header">
            <h3>{{ translate(lang, "dataPreview.log") }}:</h3>
            <a-button class="custom-button" @click="handleOpenHistoryClick">{{translate(lang, 'general.openHistory')}}</a-button>
            <!-- {{ historyModalOpened }} -->
            <!-- <button @click="autoscroll()">ScrollToBottom</button> -->
        </div>
        <div ref="messagesContainer" class="content-container">
            <ul>
                <li v-for="message in messages">
                    <pre v-if="message.formated"><code>{{ message.message }}</code></pre>
                    <span v-else>
                        {{ message.message }}
                    </span>
                </li>
            </ul>
        </div>
    </div>

</template>

<script lang="ts" setup>
import { ref, computed, watch } from "vue"
import { useStore } from "../../stores/globalStore"
import { translate } from '../../languages/languages';
import { useStorageAsync } from '@vueuse/core'
import { DEV_MODE } from "../../constants/config";

const store = useStore()

const lang = computed(() => {
    return store.settings.lang
});

const history = computed(() => {

    return store.history
});

const handleHistoryStepClick = (e, idx) => {

    store.setHistoryIndex(idx)

    let index = store.historyIndex
    const flow: FlowExportObject | null = store.history[index]


    if (flow) {
        store.flowFunctions.loadActiveFlow(flow)
    }

}


const messages = computed(() => {
    if (store.log && store.log.length >= 1) {
        setTimeout(() => autoscroll(), 1)
        return store.log
    }
    return null
});

// const history = useStorageAsync("history", [])

const messagesContainer = ref(null)
const historyModalOpened = ref(false)

const handleOpenHistoryClick = () => {

    historyModalOpened.value = !historyModalOpened.value
}

const handleTestClick = () => {

}

const handleHClick = (h) => {

}

const autoscroll = () => {
    messagesContainer.value.scrollTop = messagesContainer.value.scrollHeight;
}



</script>

<style lang="less" scoped>
.header {
    // border-bottom: 1px solid @footer;
    border-bottom: 1px solid darkgray;
    justify-content: space-between;
    padding: 5px;

}

.header h3 {
    color: white;
    // color: @textColorLight;
}

.container {
    max-height: 100%;
    overflow: hidden;
}

.content-container {
    overflow-y: auto;
    height: 200px;
    color: white;
    // color: @textColorLight;
}

.content-container ul li {
    word-break: break-all;
}

.history-step {
    cursor: pointer;
    // border: 1px dashed @footer;
    // border: 1px dashed gray;
    background-color: lightgray;
    padding: 5px;
}
code{
    line-height: 22px;
}
</style>