<template>
    <a-button id="settings-button" class="custom-button" type="primary" @click="showDrawer">
        <menu-outlined />
    </a-button>
    <!-- {{translate(lang,"actionBar.openMainMenu")}} -->
    <a-drawer :height="'90vh'" placement="top" :closable="false" :visible="visible" @close="onClose">
        <!-- title="Main menu" -->
        <template v-slot:title>

            <div class="drawer-header">
                {{ translate(lang, "settings.mainMenu") }}
                <div>

                    <span id="menu-language-switch">
                        <a-switch @change="onLanguageChange" v-model:checked="langChecked" checked-children="EN"
                            un-checked-children="CS" />
                    </span>
                    <a-button class="custom-button" type="primary" @click="onClose">
                        <close-outlined />
                    </a-button>
                </div>
            </div>
        </template>
        <div class="content-container">
            <div class="content">
                <h1>{{ translate(lang, "settings.buttons." + selected) }}</h1>
                <div v-if="selected === 'user'">
                    <!-- Nastavení související s účtem. -->
                    {{ translate(lang, "settings.sectionDescription.user") }}
                    <User />
                </div>
                <div v-if="selected === 'settings'">
                    <!-- Nastavení související s fungováním softwaru. -->

                    {{ translate(lang, "settings.sectionDescription.preferences") }}
                    <Settings />
                </div>
                <div v-if="selected === 'detail'">
                    <!-- Informace, články, o autorech, odkazy. -->

                    {{ translate(lang, "settings.sectionDescription.detail") }}
                </div>
                <div v-if="selected === 'contact'">
                    <!-- Formmulář a kontaktní údaje. -->

                    {{ translate(lang, "settings.sectionDescription.contact") }}
                    <ul>
                        <li>
                            Ing. Jan Přichystal, Ph.D.
                        </li>
                        <li>
                            Ing. Roman Valovič
                        </li>
                        <li>
                            Bc. Michal Mikula
                        </li> 
                        <li>
                            Bc. Zdeněk Illek
                        </li> 
                        <li>
                            Mendel University, Brno
                        </li>
                    </ul>
                </div>

                <div v-if="selected === 'test' && DEV_MODE">
                    Testovací nástroje pro spojení se serverem.
                    <TestMenu />
                </div>
            </div>
            <div class="buttons">
                <a-button class="custom-button button" @click="selectUser()">{{ translate(lang, "settings.buttons.user")
                }}
                </a-button>
                <a-button class="custom-button button" @click="selectSettings()">
                    {{ translate(lang, "settings.buttons.settings") }}</a-button>
                <a-button class="custom-button button" @click="selectDetail()">
                    {{ translate(lang, "settings.buttons.detail") }}</a-button>
                <a-button class="custom-button button" @click="selectContact()">
                    {{ translate(lang, "settings.buttons.contact") }}</a-button>
                <a-button class="custom-button button" @click="selectTest()" v-if="DEV_MODE">
                    {{ translate(lang, "settings.buttons.test") }}</a-button>
            </div>
        </div>
    </a-drawer>
</template>
<script lang="ts" setup>
import { computed, defineComponent, ref } from 'vue';
import type { DrawerProps } from 'ant-design-vue';
import { translate } from '../../languages/languages';
import { useStore } from "../../stores/globalStore"
import { MenuOutlined, CloseOutlined } from '@ant-design/icons-vue';
import { DEV_MODE } from '../../constants/config';

import User from './MainMenu/User.vue';
import Settings from "./MainMenu/Settings.vue"
import TestMenu from "./MainMenu/TestMenu.vue"

const store = useStore()

const langChecked = computed(() => {
    if (store.settings.lang === "cs") {
        return true
    }

    return false
})

const lang = computed(() => {
    return store.settings.lang
});
const drawerStyle = {
    height: "90vh"
}


const onLanguageChange = (event) => {

    if (event) {
        store.setAcceptModal({
            visible: true,
            // message:"Realy want to change the language? You could not understand.",
            message: translate(lang.value, "general.realyChangeLanguage"),
            title: translate(lang.value, "general.warning"),
            callback: () => {
                // store.setLanguage("cs")
                store.setSettings({
                    lang: "cs"
                })
                store.addLog({
                    message: translate(lang.value, "logMessages.languagesSwitch") + "CZ",
                    formated: false
                })
            },
        })
        //     store.setLanguage("cs")
        //     store.setSettings({
        //         lang: "cs"
        //     })
        // store.addLog(translate(lang.value, "logMessages.languagesSwitch")+"CZ")
        return
    }

    // store.setLanguage("en")

    store.setAcceptModal({
        visible: true,
        message: translate(lang.value, "general.realyChangeLanguage"),
        title: translate(lang.value, "general.warning"),
        // message:"Realy want to change the language? You could not understand.",
        callback: () => {
            // store.setLanguage("en")
            store.setSettings({
                lang: "en"
            })
            store.addLog({
                message: translate(lang.value, "logMessages.languagesSwitch") + "EN",
                formated: false
            })
        },
    })
    // store.setSettings({
    //     lang: "en"
    // })
    // store.addLog(translate(lang.value, "logMessages.languagesSwitch")+"EN")


}

const visible = ref<boolean>(false);
const selected = ref<string>("settings");

const selectUser = () => {
    selected.value = "user"
}
const selectSettings = () => {
    selected.value = "settings"
}
const selectDetail = () => {
    selected.value = "detail"
}
const selectContact = () => {
    selected.value = "contact"
}
const selectTest = () => {
    selected.value = "test"
}


const showDrawer = () => {
    visible.value = true;
};

const onClose = () => {
    visible.value = false;
};
</script>
<style lang="less" scoped>
.content-container {
    display: flex;
}

.content {
    width: 95%;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons .button {
    margin-top: 10px;
}

.drawer-header {
    display: flex;
    justify-content: space-between;
    padding-right: 26px;
}
</style>