<script setup lang="ts">

    import { CSSProperties, ref, computed } from 'vue'
    import { Handle, Position, Connection, Edge, NodeProps, useVueFlow } from '@braks/vue-flow'
    import { STATUS_RUNNING, STATUS_ERROR } from "../../../constants/statusTypes"
    
    import { cloneClassInstance } from '../../../services/builder'
    const { getNode, updateNodePosition, addSelectedNodes, addSelectedElements, getNodes, getSelectedNodes } = useVueFlow({id: 'options-api'})

    interface CustomNodeProps extends NodeProps {
            id: string,
            position:{
                x:number,
                y:number
            },
            data: {
                color: string
                logicNode: any
                onChange: (event: any) => void
                onLabelChange: (event: any) => void
                label: string
                inputTypes: string[]
                outputType: string
                processingData:{
                    columns: {}
                    data: {}
                    onDataLoad: (event:any) => void
                }
            }
        }
    const props = defineProps<CustomNodeProps>()
    

    const contentStyle = {
        maxWidth: "300px"
    }

    const textAreaStyle = {
        maxWidth: "250px",
    }
    
    const textAreaInput = ref<string>(`{
        "columns": [
            "name", "age", "job"
        ],
        "data":[
            {
                "name": "John",
                "age": "35",
                "job": "assasin"
            },
            {
                "name": "Zdenek",
                "age": "26",
                "job": "developer"
            },
            {
                "name": "",
                "age": "34",
                "job": "cook"
            }
        ]
    }
    `);
    const textAreaOutput = ref<string>('');

    const saveDataToLogicNode = () => {
        
        const parsedInput = JSON.parse(textAreaOutput.value)
        
        let clone = cloneClassInstance(props.data.logicNode)
        clone.data = parsedInput.data
        clone.dataColumns = parsedInput.columns
        clone.sendMockdataTable()
        // clone.changeStatus(STATUS_RUNNING)
        props.data.logicNode = clone
    }

    const getParsedJson = () => {

        const jsonString = JSON.stringify(textAreaInput.value)
        try{
            textAreaOutput.value = JSON.parse(jsonString)
            saveDataToLogicNode()
        } catch(e){
            textAreaOutput.value = e
            
            let clone = cloneClassInstance(props.data.logicNode)
            clone.changeStatus(STATUS_ERROR, "status.invalidJSON")
            props.data.logicNode = clone
        }
    }

</script>

<template>
    <div :style="contentStyle">
        <!-- Type: Copy user input -->
        <!-- {{props.id}} -->
        <a-textarea
            v-model:value="textAreaInput"
            placeholder="Autosize height with minimum and maximum number of lines"
            :rows="4"
            :style="textAreaStyle"
        />
        <a-button class="custom-button"  @click="getParsedJson()">Parse</a-button>
        {{textAreaOutput}}
    </div>
</template>

<style lang="less">

</style>