<script setup lang="ts">

    import { CSSProperties, ref, computed } from 'vue'
    import { Handle, Position, Connection, Edge, NodeProps, useVueFlow } from '@braks/vue-flow'
    import { STATUS_RUNNING, STATUS_ERROR } from "../../../constants/statusTypes"
    import { ADD_DATA } from '../../../constants/actionTypes'
    
    import { cloneClassInstance } from '../../../services/builder'
    const { getNode, updateNodePosition, addSelectedNodes, addSelectedElements, getNodes, getSelectedNodes } = useVueFlow({id: 'options-api'})

    interface CustomNodeProps extends NodeProps {
            id: string,
            position:{
                x:number,
                y:number
            },
            data: {
                color: string
                logicNode: any
                onChange: (event: any) => void
                onLabelChange: (event: any) => void
                label: string
                inputTypes: string[]
                outputType: string
                processingData:{
                    columns: {}
                    data: {}
                    onDataLoad: (event:any) => void
                }
            }
        }
    const props = defineProps<CustomNodeProps>()
    

    const contentStyle = {
        maxWidth: "300px"
    }

    const saveDataToLogicNode = () => {
        
        
        let clone = cloneClassInstance(props.data.logicNode)
        for (let action of clone.actions){
            if (action.type === ADD_DATA){
                action.callback()
            }
        }
        props.data.logicNode = clone
    }

</script>

<template>
    <div :style="contentStyle">
        <a-button class="custom-button"  @click="saveDataToLogicNode()">Add data</a-button>
        {{JSON.stringify(props.data.logicNode.actions)}}
    </div>
</template>

<style lang="less">

</style>