<script setup lang="ts">

import { CSSProperties, ref, computed, watch } from 'vue'
import { Handle, Position, Connection, Edge, NodeProps, useVueFlow } from '@braks/vue-flow'

import { cloneClassInstance } from '../../../services/builder'
import BarChart from '../../global/charts/BarChart.vue';
import { DEV_MODE } from '../../../constants/config';
const { getNode, updateNodePosition, addSelectedNodes, addSelectedElements, getNodes, getSelectedNodes } = useVueFlow({ id: 'options-api' })

interface CustomNodeProps extends NodeProps {
    id: string,
    position: {
        x: number,
        y: number
    },
    data: {
        color: string
        logicNode: any
        onChange: (event: any) => void
        onLabelChange: (event: any) => void
        label: string
        inputTypes: string[]
        outputType: string
        processingData: {
            columns: {}
            data: {}
            onDataLoad: (event: any) => void
        }
    }
}
const props = defineProps<CustomNodeProps>()

watch(() => props, () => {
    
})
const contentStyle = {
    maxWidth: "300px"
}

const handleSelect = (change) => {
    let clone = cloneClassInstance(props.data.logicNode)
    clone.setSelections({ ...props.data.logicNode.selections, ...change })
    props.data.logicNode = clone
}

const handleTestButton = () => {
    
}

</script>

<template>
    <div :style="contentStyle">
        <button v-if="DEV_MODE" @click="handleTestButton()">TEst</button>
        <BarChart :data="props.data.logicNode.data" :columns="props.data.logicNode.dataColumns" :chart-id="props.id"
            :style="{ height: '200px' }" :onSelect="(change) => handleSelect(change)" :mode="node"
            :selection="props.data.logicNode.dataColumns[0]" :selection2="'count'"
            :selection3="props.data.logicNode.selections.mode" />
    </div>
</template>

<style lang="less">

</style>