<script setup lang="ts">
import { CSSProperties, ref, computed, reactive, onMounted, watch } from "vue";
import {
    Handle,
    Position,
    Connection,
    Edge,
    NodeProps,
    useVueFlow,
} from "@braks/vue-flow";



const { getNode } = useVueFlow({ id: 'options-api' })
import { STATUS_RUNNING } from "../../../constants/statusTypes";

import { useStore } from "../../../stores/globalStore"
import * as urls from "../../../constants/url";
import { getApi } from "../../../services/server";
import { translate } from "../../../languages/languages";

import { cloneClassInstance } from "../../../services/builder";
import TagManager from "../../global/TagManager.vue"
const {
} = useVueFlow({ id: "options-api" });


const store = useStore()


interface CustomNodeProps extends NodeProps {
    id: string;
    position: {
        x: number;
        y: number;
    };
    data: {
        color: string;
        logicNode: any;
        onChange: (event: any) => void;
        onLabelChange: (event: any) => void;
        label: string;
        inputTypes: string[];
        outputType: string;
        processingData: {
            columns: {};
            data: {};
            onDataLoad: (event: any) => void;
        };
    };
}

const props = defineProps<CustomNodeProps>()

const lang = computed(() => {
    return store.settings.lang;
});


const runTaskManualy = () => {
    for (let action of props.data.logicNode.actions){
        if (action.autoRun){
            action.callback()
        }
    }
}

</script>

<template>

    <div :style="{}" class="form">

        <a-button @click="runTaskManualy">{{translate(lang, "general.runTask")}}</a-button>
    </div>
</template>

<style lang="less">

.form{
    text-align: left;
    max-width: 300px;
}

</style>