<script setup lang="ts">
import { CSSProperties, ref, computed, reactive, onMounted, watch } from "vue";
import {
    Handle,
    Position,
    Connection,
    Edge,
    NodeProps,
    useVueFlow,
} from "@braks/vue-flow";



const { getNode } = useVueFlow({ id: 'options-api' })

import { useStore } from "../../../stores/globalStore"
import { translate } from "../../../languages/languages";

import { cloneClassInstance } from "../../../services/builder";
import TagManager from "../../global/TagManager.vue"
const {
} = useVueFlow({ id: "options-api" });


const store = useStore()


interface CustomNodeProps extends NodeProps {
    id: string;
    position: {
        x: number;
        y: number;
    };
    data: {
        color: string;
        logicNode: any;
        onChange: (event: any) => void;
        onLabelChange: (event: any) => void;
        label: string;
        inputTypes: string[];
        outputType: string;
        processingData: {
            columns: {};
            data: {};
            onDataLoad: (event: any) => void;
        };
    };
}

const props = defineProps<CustomNodeProps>()

const columnsToDrop = ref(props.data.logicNode.columnsToDrop)

const lang = computed(() => {
    return store.settings.lang;
});


const handleColumnsToDropChange = (value) => {
    columnsToDrop.value = value
    
    const node = getNode.value(props.id)
    let clone = cloneClassInstance(node.data.logicNode)
    clone.changeColumnsToDrop(value)
    node.data.logicNode = clone
}

const runTaskManualy = () => {
    for (let action of props.data.logicNode.actions){
        if (action.autoRun){
            action.callback()
        }
    }
}
const getColumnsOptions = () => {
    let columns = []
    //pro všechny "řádky"
    if (props.data.logicNode.data && props.data.logicNode.inputs[0].data.payload){
        
        for (let column of props.data.logicNode.inputs[0].data.payload) {
            //pro všechny sloupce (vlastnosti)
            for (let property in column){
                //definuje se nová hlavička pro tabulku
                let isUniqueTableHead = true
                let columnOption = property

                //jestli se najde v existujících hlavičkách hlavička se stejným názvem
                //vlajkou se označí že byla nalezena stejná hlavička
                for (let option of columns){
                    if (option.value === columnOption){
                        isUniqueTableHead = false
                    }
                } 
                //pokud vlajka říká že hlavička nebyla nalezena, nová hlavička se přidá mezi hlavičky
                if(isUniqueTableHead){
                    columns.push({value:columnOption})
                }
            }
            
        }
        
    }
    

    //
    return columns
}


const getColumns = () => {
    let columns = []
    //pro všechny "řádky"
    if (props.data.logicNode.data && props.data.logicNode.data.payload){
        
        for (let column of props.data.logicNode.data.payload) {
            //pro všechny sloupce (vlastnosti)
            for (let property in column){
                //definuje se nová hlavička pro tabulku
                let isUniqueTableHead = true
                let columnOption = property

                //jestli se najde v existujících hlavičkách hlavička se stejným názvem
                //vlajkou se označí že byla nalezena stejná hlavička
                for (let option of columns){
                    if (option === columnOption){
                        isUniqueTableHead = false
                    }
                } 
                //pokud vlajka říká že hlavička nebyla nalezena, nová hlavička se přidá mezi hlavičky
                if(isUniqueTableHead){
                    columns.push(columnOption)
                }
            }
            
        }
        
    }
    

    //

    return columns
}

const handleChange = (value: string[]) => {
        
        const node = getNode.value(props.id)
        let clone = cloneClassInstance(node.data.logicNode)
        clone.changeColumnsToDrop(value)
        node.data.logicNode = clone
    };

const value = ref([])

</script>

<template>

    <div :style="{}" class="form">
        <!-- Type: Tokenize Task -->
        <!-- {{JSON.stringify(props.data.logicNode.status)}} -->
        <div  :id="props.id+'-availableColumns'">
            {{translate(lang, "customNode.columns")}}: 
            <a-tag v-for="tag of getColumns()" @close="handleTagClose" :key="'available-column-'+tag">{{ tag }}</a-tag>
        </div>

        <div :id="props.id+'-dropColumns'">
            {{ translate(lang,"customNode.columnsToRemove") }}
            <a-select
                v-model:value="value"
                mode="multiple"
                style="width: 100%"
                placeholder="Please select"
                :options="getColumnsOptions()"
                @change="handleChange"
            ></a-select>
        </div>
        
        <!-- <TagManager  :id="props.id+'-dropColumns'" @tagChanged="(t)=>handleColumnsToDropChange(t)" :columnsToDrop="columnsToDrop"/> -->

        <a-button @click="runTaskManualy">{{translate(lang, "general.runTask")}}</a-button>
    </div>
</template>

<style lang="less">

.form{
    text-align: left;
    max-width: 300px;
}

</style>