<script setup lang="ts">

    import { CSSProperties, ref, computed } from 'vue'
    import { Handle, Position, Connection, Edge, NodeProps, useVueFlow } from '@braks/vue-flow'
    
    import { cloneClassInstance } from '../../../services/builder'
    import Transfer from '../../global/Transfer.vue';
    const { getNode, updateNodePosition, addSelectedNodes, addSelectedElements, getNodes, getSelectedNodes } = useVueFlow({id: 'options-api'})

    interface CustomNodeProps extends NodeProps {
            id: string,
            position:{
                x:number,
                y:number
            },
            data: {
                color: string
                logicNode: any
                onChange: (event: any) => void
                onLabelChange: (event: any) => void
                label: string
                inputTypes: string[]
                outputType: string
                processingData:{
                    columns: {}
                    data: {}
                    onDataLoad: (event:any) => void
                }
            }
        }
    const props = defineProps<CustomNodeProps>()

    const contentStyle = {
        maxWidth: "300px"
    }
    
    const handleSelect = (change) => {
        let clone = cloneClassInstance(props.data.logicNode)
        clone.setSelections({...props.data.logicNode.selections,...change})
        props.data.logicNode = clone
    }

    const handleChange = (change) => {
       
        let clone = cloneClassInstance(props.data.logicNode)
        clone.selectColumns(change)
        props.data.logicNode = clone
    }

    const getInputsColumns = () => {
        let columns = []
        for (let input of props.data.logicNode.inputs){
            for (let column of input.dataColumns){
                columns.push({
                    key: column,
                    title: column,
                    description: column,
                    disabled: false
                })
            }
        }
        return columns
    }

</script>

<template>
    <div :style="contentStyle">
        <!-- Type: {{props.data.logicNode.nodeType}}<br/> -->
        <!-- {{props.id}} -->
        <Transfer 
            :columns="getInputsColumns()" 
            :onChange="(change) => handleChange(change)" 
            :target="props.data.logicNode.outputs[0].dataColumns"
        />
    </div>
</template>

<style lang="less">

</style>