<script setup lang="ts">
import { CSSProperties, ref, computed, reactive, onMounted, watch } from "vue";
import {
    Handle,
    Position,
    Connection,
    Edge,
    NodeProps,
    useVueFlow,
} from "@braks/vue-flow";



const { getNode } = useVueFlow({ id: 'options-api' })
import { STATUS_RUNNING } from "../../../constants/statusTypes";

import { useStore } from "../../../stores/globalStore"
import * as urls from "../../../constants/url";
import { getApi } from "../../../services/server";
import { translate } from "../../../languages/languages";

import { cloneClassInstance } from "../../../services/builder";
import TagManager from "../../global/TagManager.vue"
const {
} = useVueFlow({ id: "options-api" });


const store = useStore()


interface CustomNodeProps extends NodeProps {
    id: string;
    position: {
        x: number;
        y: number;
    };
    data: {
        color: string;
        logicNode: any;
        onChange: (event: any) => void;
        onLabelChange: (event: any) => void;
        label: string;
        inputTypes: string[];
        outputType: string;
        processingData: {
            columns: {};
            data: {};
            onDataLoad: (event: any) => void;
        };
    };
}

const props = defineProps<CustomNodeProps>()

const selectedLanguage = ref(props.data.logicNode.language)
const targetColumn = ref(props.data.logicNode.targetColumn)
const inplaceColumn = ref(props.data.logicNode.inplaceColumn)
const newColumn = ref(props.data.logicNode.newColumn)

const lang = computed(() => {
    return store.settings.lang;
});


const handleLanguageChange = (value) => {
    selectedLanguage.value = value
}
const handleTargetColumnChange = (value) => {
    targetColumn.value = value
}
const handleInplaceColumnChange = (value) => {
    inplaceColumn.value = value
}
const handleNewColumnChange = (value) => {
    newColumn.value = value
}

const runTaskManualy = () => {
    for (let action of props.data.logicNode.actions){
        if (action.autoRun){
            action.callback()
        }
    }
}

watch(selectedLanguage, (newValue, oldValue) => {
    const node = getNode.value(props.id)
    let clone = cloneClassInstance(node.data.logicNode)
    clone.changeLanugage(newValue)
    node.data.logicNode = clone
})

watch(targetColumn, (newValue, oldValue) => {
    const node = getNode.value(props.id)
    let clone = cloneClassInstance(node.data.logicNode)
    clone.changeTargetColumn(newValue)
    node.data.logicNode = clone
})

watch(inplaceColumn, (newValue, oldValue) => {
    const node = getNode.value(props.id)
    let clone = cloneClassInstance(node.data.logicNode)
    clone.changeInplaceColumn(newValue)
    node.data.logicNode = clone
})

watch(newColumn, (newValue, oldValue) => {
    const node = getNode.value(props.id)
    let clone = cloneClassInstance(node.data.logicNode)
    clone.changeNewColumn(newValue)
    node.data.logicNode = clone
})


const getColumns = () => {
    let columns = []
    //pro všechny "řádky"
    if (props.data.logicNode.data && props.data.logicNode.data.payload){
        
        for (let column of props.data.logicNode.data.payload) {
            //pro všechny sloupce (vlastnosti)
            for (let property in column){
                //definuje se nová hlavička pro tabulku
                let isUniqueTableHead = true
                let columnOption = property

                //jestli se najde v existujících hlavičkách hlavička se stejným názvem
                //vlajkou se označí že byla nalezena stejná hlavička
                for (let option of columns){
                    if (option === columnOption){
                        isUniqueTableHead = false
                    }
                } 
                //pokud vlajka říká že hlavička nebyla nalezena, nová hlavička se přidá mezi hlavičky
                if(isUniqueTableHead){
                    columns.push(columnOption)
                }
            }
            
        }
        
    }
    

    //

    return columns
}

</script>

<template>

    <div :style="{}" class="form" :id="props.id+'-task-container'">
        <!-- Type: Tokenize Task -->
        <!-- {{JSON.stringify(props.data.logicNode.status)}} -->
        <div :id="props.id+'-availableColumns'">
            {{translate(lang, "customNode.columns")}}: 
            <a-tag v-for="tag of getColumns()" @close="handleTagClose" :key="'available-column-'+tag">{{ tag }}</a-tag>
        </div>
        <div :id="props.id+'-selectLanguage'">
            {{translate(lang, "general.language")}}: 
            <a-select ref="select" v-model:value="selectedLanguage" style="width: 120px" @change="handleLanguageChange">
                <a-select-option value="english">{{translate(lang, "general.english")}}</a-select-option>
                <a-select-option value="czech">{{translate(lang, "general.czech")}}</a-select-option>
            </a-select>
    </div>
    <div :id="props.id+'-targetColumn'">{{translate(lang, "customNode.targetColumn")}}: <a-input  v-model:value="targetColumn"/>
    </div>
    <div :id="props.id+'-inplaceColumn'">{{translate(lang, "customNode.inplaceColumn")}}: 
        <a-switch
            :id="props.id+'-inplace-column'"
            @change="handleInplaceColumnChange"
            v-model:checked="inplaceColumn"
        /></div>
        <div :id="props.id+'-newColumn'" v-if="!inplaceColumn">{{translate(lang, "customNode.newColumn")}}: <a-input  v-model:value="newColumn"/></div>

        <a-button :id="props.id+'-runTask'" @click="runTaskManualy">{{translate(lang, "general.runTask")}}</a-button>
    </div>
</template>

<style lang="less">

.form{
    text-align: left;
    max-width: 300px;
}

</style>