<script setup lang="ts">
import { CSSProperties, ref, computed, reactive, onMounted } from "vue";
import {
    Handle,
    Position,
    Connection,
    Edge,
    NodeProps,
    useVueFlow,
} from "@braks/vue-flow";
import { STATUS_RUNNING } from "../../../constants/statusTypes";
import * as urls from "../../../constants/url";
import { getApi } from "../../../services/server";

import { useStore } from "../../../stores/globalStore"
import { cloneClassInstance } from "../../../services/builder";
import { getReadableDataset } from "../../../helpers/globalHelper";
import { DEV_MODE } from "../../../constants/config";

import { translate } from '../../../languages/languages';
import { useStorage } from '@vueuse/core'
const store = useStore()

const lang = computed(() => {
    return store.settings.lang
});

const {
    getNode,
    updateNodePosition,
    addSelectedNodes,
    addSelectedElements,
    getNodes,
    getSelectedNodes,
} = useVueFlow({ id: "options-api" });

interface CustomNodeProps extends NodeProps {
    id: string;
    position: {
        x: number;
        y: number;
    };
    data: {
        color: string;
        logicNode: any;
        onChange: (event: any) => void;
        onLabelChange: (event: any) => void;
        label: string;
        inputTypes: string[];
        outputType: string;
        processingData: {
            columns: {};
            data: {};
            onDataLoad: (event: any) => void;
        };
    };
}
const props = defineProps<CustomNodeProps>();


const refresh = async () => {
    // datasets.value = await getApi(urls.URL_LIST_OF_DATASETS)
    let datasetList = await props.data.logicNode.getDatasetsList()
    datasets.value = props.data.logicNode.datasetList
}
onMounted(async()=>{
    let datasetList = await props.data.logicNode.getDatasetsList()
    datasets.value = props.data.logicNode.datasetList
})

// let datasets = reactive(await getApi(urls.URL_LIST_OF_DATASETS))
// let datasets = ref(await getApi(urls.URL_LIST_OF_DATASETS))
let datasets = ref(props.data.logicNode.datasetList)
const inputDatasets = computed(() => {
    let inputDatasetsList = []
    //console.log(datasets.value)
    if (Array.isArray(datasets.value)){
        for (let dataset of datasets.value) {
            // if(dataset.task_id === null){
            inputDatasetsList.push(dataset)
            // }
        }
    }
    return inputDatasetsList

})
const selectedDataset = ref(props.data.logicNode.data._id);

// const options1 = ref([
//     {
//         value: "jack",
//         label: "Jack",
//     }]);

const options1 = computed(() => {
    let optionsList = []

    for (let dataset of inputDatasets.value) {
        const typeOfData = dataset.task
        if (typeOfData === null) {
            let date = new Date(dataset.inserted_at)
            const options = { year: 'numeric', month: 'numeric', day: 'numeric', hour:"numeric", minute:"numeric" };
            date = date.toLocaleDateString(undefined, options)
            
            optionsList.push({
                value: dataset._id,
                label: dataset.name+" - "+date
            })
        }
        
    }
    return optionsList
})

const getSelectedDatasetDetail = computed(() => {
    //console.log(props.data.logicNode.data)
    if (props.data.logicNode.data !== null){
        return props.data.logicNode.data
    }
    for (let dataset of datasets.value){
        if(selectedDataset.value  === dataset._id){
            return dataset
        }
    }

    return null
})

const getSelectedDatasetPreview = computed(()=>{

    //console.log(props.data.logicNode.data)
    for (let dataset of datasets.value){
        if(selectedDataset.value  === dataset._id){
            return dataset
        }
    }

    return null
})

const getDatasetPreview = (datasetId)=>{

    // //console.log(props.data.logicNode.data)
    
    //console.log(datasets.value)
    if (Array.isArray(datasets.value)){
        for (let dataset of datasets.value){
            if(datasetId  === dataset._id){
                return dataset
            }
        }
    }

    return null
}

const handleDatasetChange = (e) => {
    selectedDataset.value = e
    selectDataset()
}
const selectDataset = () => {

    let node = getNode.value(props.id)
    let clone = cloneClassInstance(node.data.logicNode)

    for (let dataset of datasets.value) {
        if (dataset._id === selectedDataset.value) {
            clone.sendData(dataset)
        }
    }
    node.data.logicNode = clone
};

const handleTestButtonClick = () => {
    //console.log(store)
    //console.log(lang.value)
    //console.log(translate(lang.value, "general.selectDataset"))
}
</script>

<template>

    <div class="main-container" :style="{}">
        <a-button v-if="DEV_MODE" @click="handleTestButtonClick()">TestButton</a-button>
        <a-button @click="refresh()">{{translate(lang, "node.refresh")}}</a-button>
        
        <a-select :id="props.id + 'server-input-node'" ref="select" v-model:value="selectedDataset" style="width: 100%"
            @change="handleDatasetChange" :options="options1">
            <template #option="{value,label}">
                <a-tooltip overlayClassName="custom-tooltip">
                    <template #title>
                        <pre><code>{{getReadableDataset(getDatasetPreview(value), store.settings.lengthOfText)}}</code></pre>
                    </template>
                    
                    {{label}}
                </a-tooltip>
            </template>
        </a-select>
        
        <!-- {{translate(lang, "node.previewOfSelectedData")}}
        <pre><code>{{getReadableDataset(getSelectedDatasetPreview, store.settings.lengthOfText)}}</code></pre> -->
        
        <!-- Type: Server Node -->
        
        <!-- <a-button v-if="selectedDataset" class="custom-button" @click="selectDataset()">{{translate(lang, "node.selectDataset")}}</a-button><br/> -->
        <!-- <div v-for="(dataset, index) in inputDatasets" :key="index">
            <h2>{{ dataset.name }}:</h2>
            {{ JSON.stringify(dataset.payload) }}
        </div> -->

        <!-- {{JSON.stringify(getSelectedDatasetDetail)}} -->
        <div v-if="getSelectedDatasetDetail.payload" class="selected-data">
            <a-divider/>
            <h2>{{translate(lang, "node.activeDataset")}}: {{getSelectedDatasetDetail.name}}</h2>
            <pre><code>{{getReadableDataset(getSelectedDatasetDetail, store.settings.lengthOfText)}}</code></pre>
        </div>
        <!-- {{JSON.stringify(datasets)}} -->
    </div>
</template>
<style>

.custom-tooltip{
    max-width:500px!important;
    word-break: break-all;
}
</style>

<style lang="less" scoped>
.main-container{
    max-width:400px;
}
pre{
    text-align: left;
}
</style>