<script lang="ts" setup>
import { ref, computed } from "vue";
import { getApi } from "../../../services/server";
import { URL_LIST_OF_DATASETS } from "../../../constants/url";
import { saveAs } from "file-saver";
import { translate } from "../../../languages/languages";
import { useStore } from "../../../stores/globalStore";

interface DownloadModalProps {}

const props = defineProps<DownloadModalProps>();

const store = useStore()


const lang = computed(() => {
  return store.settings.lang;
});

const visible = ref<boolean>(false);

let datasets = ref();

const inputDatasets = computed(() => {
  let inputDatasetsList = [];
  //console.log(datasets.value);
  if (Array.isArray(datasets.value) && datasets.value.length > 0) {
    for (let dataset of datasets.value) {
      inputDatasetsList.push(dataset);
    }
  }

  return inputDatasetsList;
});

const options1 = computed(() => {
  let optionsList = [];

  for (let dataset of inputDatasets.value) {
    const typeOfData = dataset.task;
    if (typeOfData === null) {
      let date = new Date(dataset.inserted_at);
      const options = {
        year: "numeric",
        month: "numeric",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
      };
      date = date.toLocaleDateString(undefined, options);

      optionsList.push({
        value: dataset._id,
        label: dataset.name + " - " + date,
      });
    }
  }
  return optionsList;
});
const selectedDatasets = ref([]);

const showModal = async () => {
  visible.value = true;
  datasets.value = await getApi(URL_LIST_OF_DATASETS);
};

const handleCancel = (e: MouseEvent) => {
  //console.log(e);
  visible.value = false;
};
const handleChange = (value: string[]) => {
  //console.log(`selected ${value}`);
};

const handleDownloadDataClick = () => {
  for (let selectedDataset of selectedDatasets.value) {
    for (let dataset of datasets.value) {
      //console.log(dataset);
      if (dataset._id === selectedDataset) {
        downloadData(dataset);
      }
    }
  }
};

const downloadData = (dataset) => {
  let data = new Blob([JSON.stringify(dataset.payload)], {
    type: "text/plain",
  });

  saveAs(data, dataset.name + ".txt");
};

const handleSearch = (value) => {
  //console.log(value);
};
</script>

<template>
  <a-button  id="download-button" type="primary" @click="showModal">{{translate(lang, "actionBar.saveDataset")}}</a-button>
  <a-modal
    v-model:visible="visible"
    :title="translate(lang, 'actionBar.saveToLocal')"
    class="download-modal"
  >
  <!-- 
    
    @ok="handleDownloadDataClick()"
    :okText="translate(lang, 'general.ok')"
    :cancelText="translate(lang, 'general.cancel')"
   -->
    <template #footer>
      <a-button key="back" @click="handleCancel">{{translate(lang, 'general.cancel')}}</a-button>
      <a-button key="submit" type="primary" @click="handleDownloadDataClick">{{translate(lang, "general.download")}}</a-button>
    </template>
    {{translate(lang, "actionBar.whichDatasetSave")}}
    <a-select
      v-model:value="selectedDatasets"
      mode="multiple"
      :inputKeyDown="
        () => {
          handleSearch();
        }
      "
      style="width: 100%"
      :options="options1"
      @change="handleChange"
    ></a-select>
  </a-modal>
</template>

<style lang="less" scoped></style>
