<script lang="ts" setup>
import { ref, computed } from "vue";
import { postApi } from "../../../services/server";
import { URL_LIST_OF_DATASETS } from "../../../constants/url";
import { translate } from "../../../languages/languages";
import { useStore } from "../../../stores/globalStore";
import { message } from 'ant-design-vue';

interface SaveDatasetModalProps {
    datasetPayload: {}
    id: string
}

const props = defineProps<SaveDatasetModalProps>();

const store = useStore()


const lang = computed(() => {
  return store.settings.lang;
});

const visible = ref<boolean>(false);


const showModal = async () => {
  visible.value = true;
};

const handleOk = (e: MouseEvent) => {
  //console.log(e);
  handleSaveDatasetClick()
  // visible.value = false;
};

const handleCancel = () => {
  visible.value = false
}


const handleSaveDatasetClick = async () => {
  
  saveLoading.value = true
    let body = {
    "name": datasetName.value,
    "payload": props.datasetPayload
    // [
    //   {
    //     "text": "This is saved dataset."
    //   },
    //   {
    //     "text": "This is second line in saved dataset."
    //   }
    // ]
  }
  let response = await postApi(URL_LIST_OF_DATASETS,body)

  
  switch (response.status) {
      case 200:
          message.success(translate(lang.value, "messages.success"))
          visible.value = false;
          saveLoading.value = false
          break;
      case 422:
          message.error("Error 422");
          visible.value = false;
          saveLoading.value = false
          break;
      case 404:
          message.error("Error 404");
          visible.value = false;
          saveLoading.value = false
          break;
      default:
          message.warning(translate(lang.value, "messages.unknownProblem"));
          visible.value = false;
          saveLoading.value = false
          break;
  }
    
}

const saveLoading = ref(false)
const datasetName = ref<string>('');

</script>

<template>
    
  <a-button  :id="id+'-save-dataset-button'" type="primary" @click="showModal">{{translate(lang, "general.saveDataset")}}</a-button>
  <a-modal
    v-model:visible="visible"
    :title="translate(lang, 'actionBar.saveToLocal')"
    
  >

  <!-- 
    @ok="handleOk"
    :okText="translate(lang, 'general.saveDataset')"
    :cancelText="translate(lang, 'general.cancel')"
  -->

  <a-input v-model:value="datasetName" placeholder="Dataset name" />
  <!-- <a-button @click="handleSaveDatasetClick" :loading="saveLoading">{{translate(lang, "general.saveDataset")}}</a-button> -->
    <template #footer>
      <a-button key="back" @click="handleCancel">{{translate(lang, 'general.cancel')}}</a-button>
      <a-button key="submit" :disabled="datasetName.length===0" type="primary" :loading="saveLoading" @click="handleOk">{{translate(lang, "general.saveDataset")}}</a-button>
    </template>
  </a-modal>
</template>

<style lang="less" scoped></style>
