<template>
  <a-layout class="layout-container">
    <div v-if="DEV_MODE">{{ selectedKeys1 }}</div>
    <a-layout-header
      class="header"
      @click="handleFlowClick()"
      :style="headerStyles()"
    >
      <div
        v-if="user && tabsCounter < numberOfTabs"
        class="add-tab-button"
        key="+"
        @click="handleAddNewTabClick()"
      >
        <plus-circle-outlined />
      </div>
      <a-menu
        v-if="user"
        v-model:selectedKeys="selectedKeys1"
        theme="dark"
        mode="horizontal"
        :style="{ lineHeight: '64px', width: '100vw' }"
      >
        <a-menu-item v-for="[index, tab] in tabs.entries()" :key="tab">
          {{ tab }}
          <div
            v-if="tabs.length > 1"
            class="remove-tab-button"
            @click="closeTab(index)"
          >
            <close-outlined />
          </div>
        </a-menu-item>
      </a-menu>
      <button v-if="DEV_MODE" @click="handleTestButton()">Test button</button>
      <div v-else :style="{ lineHeight: '64px', width: '100vw' }"></div>
      <div class="settings">
        <a-switch
          id="language-switch"
          @change="onLanguageChange"
          v-model:checked="langChecked"
          checked-children="EN"
          un-checked-children="CS"
        />
        <MainMenu v-if="user" />
      </div>
    </a-layout-header>
    <a-layout>
      <AcceptModal
        :visible="store.acceptModalVisible"
        :title="store.acceptModalTitle"
        :cancel="handleAcceptModalCancel"
        :callback="handleAcceptModalCallback"
        :message="store.acceptModalMessage"
      />

      <ActionModal
        :visible="store.actionModalVisible"
        :title="store.actionModalTitle"
        :cancel="handleActionModalCancel"
        :callback="handleActionModalCallback"
        :message="store.actionModalMessage"
      />
      <a-layout>
        <a-layout-content
          :style="{ background: '#fff', margin: 0, minHeight: '280px' }"
        >
          <FLow v-if="user" :flowId="flowId"></FLow>
          <LoginView v-else />
        </a-layout-content>
      </a-layout>
    </a-layout>
  </a-layout>
</template>
<script setup lang="ts">
import {
  UserOutlined,
  LaptopOutlined,
  NotificationOutlined,
  PlusCircleOutlined,
  CloseOutlined,
  ConsoleSqlOutlined,
} from "@ant-design/icons-vue";
import { defineComponent, ref, computed, onMounted, watch } from "vue";
import FLow from "./Flow/Flow.vue";
import AcceptModal from "./global/AcceptModal.vue";
import LoginView from "./LoginView.vue";
import { useStore } from "../stores/globalStore";
import { translate } from "../languages/languages";
import { useStorage } from "@vueuse/core";
import { DEV_MODE } from "../constants/config";
import MainMenu from "./Layout/MainMenu.vue";

const store = useStore();

const lang = computed(() => {
  return store.settings.lang;
});

const langChecked = computed(() => {
  if (store.settings.lang === "cs") {
    return true;
  }

  return false;
});
// const openAcceptModal = ref<boolean>(false)
const tabs = useStorage("tabs", ["Tab 1"]);
const selectedKeys1 = ref<string[]>([tabs.value[0]]);
const selectedKeys2 = ref<string[]>(["1"]);
const collapsed = ref<boolean>(false);
const openKeys = ref<string[]>(["sub1"]);
const flowId = computed(() => {
  const id = "flow-" + selectedKeys1.value[0];
  store.setActiveFlowId(id);
  return id;
});

const numberOfTabs = computed(() => {
  return store.settings.numberOfTabs;
});

watch(selectedKeys1, (newKey, oldKey) => {
  if (store.settings.autoSaveOnSwitch) {
    store.flowFunctions.onSave();
  }
});

const handleTestButton = () => {};

let id = 1;
const tabsCounter = ref(tabs.value ? tabs.value.length : 1);
const getId = () => {
  id++;
  let tb = null;
  while (tb !== null) {
    tb = null;
    for (let tab of tabs.value) {
      if (tab === "Tab " + id) {
        tb = tab;
        id++;
      }
    }
  }
  return "Tab " + id;
};

const handleAddNewTabClick = () => {
  let id = getId();
  let idFounded = false;
  while (!idFounded) {
    if (!tabs.value.includes(id)) {
      tabs.value = [...tabs.value, id];
      store.flowFunctions.onSave();
      selectedKeys1.value = [tabs.value[tabs.value.length - 1]];

      store.setActiveFlowId("flow-" + tabs.value[tabs.value.length - 1]);
      tabsCounter.value++;
      idFounded = true;
    } else {
      id = getId();
    }
  }
};

const closeTab = (index) => {
  const arrayOfTabs = [...tabs.value];

  store.setAcceptModal({
    visible: true,
    // message:"Realy want to change the language? You could not understand.",
    message: translate(lang.value, "general.realyCloseTab", {
      tabname: arrayOfTabs.splice(index, 1),
    }),
    title: translate(lang.value, "general.warning"),
    callback: () => {
      const removedTabName = tabs.value.splice(index, 1);
      const active = selectedKeys1.value;
      const removeActive = removedTabName.includes(selectedKeys1.value[0]);

      setTimeout(() => {
        if (removeActive) {
          selectedKeys1.value = [tabs.value[0]];
        } else {
          selectedKeys1.value = active;
        }
      }, 100);

      setTimeout(() => {
        localStorage.removeItem("flow-" + removedTabName);
      }, 1000);

      tabsCounter.value--;
    },
  });
};

const user = computed(() => {
  return store.activeUser !== null;
});

const handleAcceptModalCallback = () => {
  store.acceptModalCallback();
  store.setAcceptModal({
    visible: false,
    message: "Are you sure?",
    title: "Warning",
    callback: () => {},
  });
};

const handleAcceptModalCancel = () => {
  //dodělat aby změna textu v modalu nebyla vyditelná ani při zavírání modalu
  store.setAcceptModal({
    visible: false,
    message: "Are you sure?",
    title: "Warning",
    callback: () => {},
  });
};

const handleActionModalCallback = () => {};

const handleActionModalCancel = () => {};

const headerStyles = () => {
  if (store.menuOpen) {
    return {
      paddingLeft: "200px",
    };
  }
  return {
    paddingLeft: "0",
  };
};

const onClick = () => {
  store.flowInstance.fitView();

  store.addLog({
    message: translate(lang.value, "logMessages.fitView"),
    formated: false,
  });
  // store.addLog("FitView")
};

const onLanguageChange = (event) => {
  if (event) {
    // store.setLanguage("cs")
    store.setSettings({
      lang: "cs",
    });
    store.addLog({
      message: translate(lang.value, "logMessages.languagesSwitch") + "CZ",
      formated: false,
    });
    return;
  }

  // store.setLanguage("en")
  store.setSettings({
    lang: "en",
  });
  store.addLog({
    message: translate(lang.value, "logMessages.languagesSwitch") + "EN",
    formated: false,
  });
};

const handleFlowClick = () => {
  store.menuSwitch(false);
};

const onDragStart = (
  event: DragEvent,
  nodeType: string,
  outputType: string = "plainText",
  inputTypes: string[] = ["plainText", "json", "image", "error"]
) => {
  if (event.dataTransfer) {
    const data = {
      nodeType: nodeType,
      outputType: outputType,
      inputTypes: inputTypes,
    };
    event.dataTransfer.setData("application/vueflow", JSON.stringify(data));
    event.dataTransfer.effectAllowed = "move";
  }
};
</script>
<style lang="less">
#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.layout-container {
  height: 100vh;
}

.header {
  display: flex;
  justify-content: start;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #00aeff, #a68eff);
  // background-image: @gradient;
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* border-radius: 10px; */
}

button {
  /* background-image: linear-gradient(45deg, #00aeff, #a68eff)!important; */
}

.remove-tab-button {
  position: absolute;
  top: 0;
  right: 0;
}

.remove-tab-button .anticon {
  top: 5px;
  position: absolute;
  right: 5px;
}

.add-tab-button {
  // color: @textColor;
  padding-left: 10px;
  color: white;
  padding-right: 10px;
}

.add-tab-button:hover {
  background-color: #00aeff;
  // background-color: @background;
  cursor: pointer;
}

.settings {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
</style>
