<script lang="ts" setup>
import { CSSProperties, ref, computed } from 'vue'
import { useStore } from "../stores/globalStore"
import { translate } from '../languages/languages';

import { message } from 'ant-design-vue';
import * as urls from "../constants/url";
import { getApi, postApi } from "../services/server";
import { DEV_MODE } from '../constants/config';

const store = useStore()


const lang = computed(() => {
    return store.settings.lang
});

const users = computed(() => {
    return getApi(urls.URL_USERS)
})

const name = ref<string>("")
// const email = ref<string>("xillek@mendelu.cz")
// const password = ref<string>("testovaciHeslo")
const email = ref<string>("")
const password = ref<string>("")
const handleNameInputChanged = (e) => {
    name.value = e.target.value
}
const handleEmailInputChanged = (e) => {
    email.value = e.target.value
}
const handlePasswordInputChanged = (e) => {
    password.value = e.target.value
}
const handleLoginButtonClick = async () => {
    if (false) {
        store.setActiveUser({
            name: name.value,
            email: email.value,
            password: password.value
        })
    } else {
        loadingLogin.value = true
        let response = await postApi(urls.URL_USERS_AUTH, {
            email: email.value,
            password: password.value,
        },{})
        
        switch (response.status) {
            case 200:
                message.success(translate(lang.value, "messages.succesLogin"));
                store.setActiveUser({
                    name: name.value,
                    email: email.value,
                    password: password.value,
                    token: response.data.token
                })
                loadingLogin.value = false
                break;
            case 422:
                message.error(response.data.detail[0].loc[1] + " - " + response.data.detail[0].msg);
                loadingLogin.value = false
                break;
            case 404:
                message.error(response.data.detail);
                loadingLogin.value = false
                break;
            default:
                message.warning(translate(lang.value, "messages.unknownProblem"));
                loadingLogin.value = false
                break;
        }
    }


}
const handleRegisterButtonClick = async () => {
    loadingRegister.value = true
    let response = await postApi(urls.URL_USERS, {
        name: name.value,
        email: email.value,
        password: password.value
    },{})

    switch (response.status) {
        case 201:
            message.success( translate(lang.value, "messages.succesRegister") );
            loadingRegister.value = false
            break;
        case 422:
            message.error(response.data.detail[0].loc[1] + " - " + response.data.detail[0].msg);
            loadingRegister.value = false
            break;
        case 409:
            message.error(translate(lang.value, "messages.userExist") );
            loadingRegister.value = false
            break;
        default:
            message.warning(translate(lang.value, "messages.unknownProblem"));
            loadingRegister.value = false
            break;
    }
}


const loadingLogin = ref(false)
const loadingRegister = ref(false)
</script>


<template>
    <div class="login-main">
        <div class="input-container login-input-name">
            {{ translate(lang, "login.name") }}:
            <a-input type="text" :value="name" @change="handleNameInputChanged($event)" />
        </div>
        <div class="input-container login-input-email">
            {{ translate(lang, "login.email") }}:
            <a-input type="text" :value="email" @change="handleEmailInputChanged($event)" />
        </div>
        <div class="input-container login-input-password">
            {{ translate(lang, "login.password") }}:
            <a-input type="password" :value="password" @change="handlePasswordInputChanged($event)" />
        </div>
        <div class="input-container">
            <a-button class="custom-button" :loading="loadingLogin" @click="handleLoginButtonClick()">{{ translate(lang, "login.login") }}
            </a-button>
            <a-button class="custom-button" :loading="loadingRegister" @click="handleRegisterButtonClick()">{{ translate(lang, "login.register") }}
            </a-button>
        </div>
        <!-- {{JSON.stringify(users)}} -->
    </div>
</template>

<style lang="less" scoped>
.login-main {
    width: 25%;
    margin: auto;
    margin-top: 25vh;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
</style>