<script lang="ts" setup>
import { getEdgeCenter, getBezierPath, Position, useVueFlow, EdgeProps } from '@braks/vue-flow'
import { computed, ref, watch, onMounted, reactive, onUpdated } from "vue"
import { CloseOutlined, SettingOutlined } from '@ant-design/icons-vue';
import { cloneClassInstance } from '../../services/builder'
import _ from 'lodash';
import { translate } from '../../languages/languages';
import { useStore } from "../../stores/globalStore"
import { DEV_MODE } from "../../constants/config"
const store = useStore()

interface CustomEdgeProps<T = any> extends EdgeProps<T> {
    id: string
    sourceX: number
    sourceY: number
    targetX: number
    targetY: number
    sourcePosition: Position
    targetPosition: Position
    data: {
        label: string
        targetId: string
        sourceId: string
        sourceHandle: string
        targetHandle: string
        onAnimatedChnage: (event: any) => void
        onLabelChange: (event: any) => void
    }
    markerEnd: string
    animated: boolean
}
const alphabet = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"];

const props = defineProps<CustomEdgeProps>()
const { id: storeId, applyEdgeChanges, getEdges, getNodes, getNode, getEdge, instance } = useVueFlow({ id: 'options-api' })

let source = reactive(getNode.value(props.data.sourceId))
let target = reactive(getNode.value(props.data.targetId))

const lang = computed(() => {
    return store.settings.lang
});
const autoRunEnabled = computed(() => {
    if (store.pipelineRunning){
        return store.pipelineRunning
    }
    return store.settings.autoRun
});

const onClick = (evt: Event, id: string) => {
    applyEdgeChanges([{ type: 'remove', id }])


    //zdroj hrany -> handle -> seznam hran vedoucím k následníkům -> vytvoření nového seznamu, který neobsahuje tuto hranu
    let newNexts = []
    for (let next of source.data.logicNode.outputs[alphabet.indexOf(props.data.sourceHandle)].next) {
        if (next.id !== props.id) {
            newNexts.unshift(next)
        }
    }
    source.data.logicNode.outputs[alphabet.indexOf(props.data.sourceHandle)].next = newNexts

    //cíl hrany -> handle -> seznam hran vedoucím k následníkům -> vytvoření nového seznamu, který neobsahuje tuto hranu
    let newPrevious = []
    //vznikají 2 různá pole - ty která mají dsotupná data (progress === 100 )a ty které ne
    let newPreviousActive = []
    let newPreviousInactive = []
    for (let prev of target.data.logicNode.inputs[alphabet.indexOf(props.data.targetHandle)].previous) {
        //pro všechny hrany, které mají být zachovány 
        if (prev.id !== props.id) {
            const newPotentialSourceNode = getNode.value(prev.source)
            //
            //může být aktivním zdrojem
            if (newPotentialSourceNode?.data.logicNode.outputs[alphabet.indexOf(prev?.sourceHandle)].progress === 100){
                newPreviousActive.push(prev)
            } else {
            //nemůže být aktivním zdrojem
                newPreviousInactive.push(prev)
            }
            //tyto dvě pole se sloučí, tak aby ty co mají progress === 100 byli dříve než ty co ne
            newPrevious = [...newPreviousActive, ...newPreviousInactive]
            //u první hrany je pak zapnuta animace
            getEdge.value(newPrevious[0].id).animated = true
        }
        // if (prev.id !== props.id) {
            
        //     newPrevious.unshift(prev)
        // }
    }
    target.data.logicNode.inputs[alphabet.indexOf(props.data.targetHandle)].previous = newPrevious
    

    let clone = cloneClassInstance(target.data.logicNode)
    if (newPrevious.length > 0) {
        const newActiveInputNode = getNode.value(newPrevious[0].source)
        const newActiveInputNodeHandle = newActiveInputNode.data.logicNode.outputs[alphabet.indexOf(newPrevious[0].targetHandle)]
        clone.inputs[alphabet.indexOf(props.data.targetHandle)].data = newActiveInputNodeHandle.data
        clone.inputs[alphabet.indexOf(props.data.targetHandle)].dataColumns = newActiveInputNodeHandle.dataColumns
    } else {
        clone.inputs[alphabet.indexOf(props.data.targetHandle)].data = []
        clone.inputs[alphabet.indexOf(props.data.targetHandle)].dataColumns = []
        
        if (clone.outputs.length > 0 && clone.outputs.length> 0 && clone.outputs[0].next.length > 0) {
            getEdge.value(clone.outputs[0].next[0].id).animated = false
            clone.outputs[0].previous = []
        }
    }
    clone.getDataFromInput(clone.inputs[alphabet.indexOf(props.data.targetHandle)].type)

    if (autoRunEnabled){
        for (let action of clone.actions) {
            
            if (action.autoRun) {
                action.callback()
            }
        }
    }

    
    target.data.logicNode = clone
    // store.flowFunctions.saveToHistory(instance)
    store.flowFunctions.saveToHistory(instance, false, false, translate(lang, "history.edgeRemoved",{id:props.id}))
    evt.stopPropagation()

}

const foreignObjectSize = 21

const edgePath = computed(() =>
    getBezierPath({
        sourceX: props.sourceX,
        sourceY: props.sourceY,
        sourcePosition: props.sourcePosition,
        targetX: props.targetX,
        targetY: props.targetY,
        targetPosition: props.targetPosition,
    }),
)
const center = computed(() =>
    getEdgeCenter({
        sourceX: props.sourceX,
        sourceY: props.sourceY,
        targetX: props.targetX,
        targetY: props.targetY,
    }),
)
// watch(getNodes, (nodes) => {

// })

const runSelect = () => {
    //dodělat run select nějak blbne?
    //change status na runselect
    //dodělat set active source, když se změní data (z žádných dat na nějaká data) + 
    const sourceHandle = source.data.logicNode.outputs[alphabet.indexOf(props.data.sourceHandle)]
    const targetHandle = target.data.logicNode.inputs[alphabet.indexOf(props.data.targetHandle)]
    
    
    if (sourceHandle.progress === 100) {
        
        let clone = cloneClassInstance(target.data.logicNode)

        for (let [index, prev] of target.data.logicNode.inputs[0].previous.entries()) {

            if (prev.id === props.id) {
                target.data.logicNode.inputs[0].previous.splice(index, 1);
                target.data.logicNode.inputs[0].previous.unshift(prev);
            }
        }
        
        clone.getDataFromInput(clone.inputs[alphabet.indexOf(props.data.targetHandle)].type)
        target.data.logicNode = clone

        for (let edge of getEdges.value) {
            if (edge.target === props.data.targetId && edge.targetHandle === props.data.targetHandle) {
                edge.animated = false
            }
        }
        getEdge.value(props.id).animated = true
    }
}


const label = ref(props.data.label)
// const animated = ref(props.animated)

const handleTestButtonClick = () => {
    
    
}

//----------------Drawer
const visible = ref<boolean>(false);

const childrenDrawer = ref<boolean>(false);

const showDrawer = () => {
    visible.value = true;
};
const onClose = () => {
    visible.value = false;
};

const onLabelChange = (event) => {
    label.value = event.target.value
    props.data.onLabelChange({
        id: props.id,
        label: label.value
    })
}

const onAnimatedChnage = (event: boolean) => {
    animated.value = event
    props.data.onAnimatedChnage({
        id: props.id,
        animated: animated.value
    })
}

</script>
<script lang="ts">
export default {
    inheritAttrs: false,
}
</script>
<template>

    <path :style="props.style" class="vue-flow__edge-path" :d="edgePath" :marker-end="props.markerEnd" />
    <foreignObject :width="foreignObjectSize" :height="foreignObjectSize" 
        :x="center[0] - foreignObjectSize / 2"
        :y="center[1] - foreignObjectSize / 2" 
        class="edgebutton-foreignobject"
        requiredExtensions="http://www.w3.org/1999/xhtml">

        <div class="buttonBox">
            <!-- {{ label }}<br /> -->
            <!-- {{props.data.sourceHandle}} -->
            <!-- {{alphabet.indexOf(props.data.sourceHandle)}} -->
            <!-- {{ source.data.logicNode.outputs[alphabet.indexOf(props.data.sourceHandle)].progress }} -->
            <div class="buttonRow" :id="props.id">
                <a-button class="custom-button danger edgebutton"  type="danger" size="small" @click="(event) => onClick(event, props.id)">
                    <template #icon>
                        <CloseOutlined />
                    </template>
                </a-button>
                <!-- <button class="edgebutton" @click="(event) => onClick(event, props.id)">×</button> -->
                <!-- <a-button class="edgebutton custom-button"  type="primary" size="small"  @click="showDrawer">
                    <SettingOutlined />
                </a-button>
                <a-button class="custom-button edgebutton"  size="small" @click="runSelect()">{{ translate(lang, "edge.run") }}</a-button> -->
                <!-- <a-button class="custom-button"  v-if="DEV_MODE" @click="handleTestButtonClick()">Test</a-button> -->
            </div>
            <a-drawer v-model:visible="visible" :title="props.id" width="1020" :closable="false"
                :footer-style="{ textAlign: 'right' }" @close="onClose">

                {{ translate(lang, "edge.label") }}:
                <input type="text" :value="label" @change="onLabelChange" />
                <a-switch :checked="animated" @change="onAnimatedChnage">
                    <!-- <template #checkedChildren><check-outlined /></template>
                    <template #unCheckedChildren><close-outlined /></template> -->
                </a-switch>

                <template #footer>

                    <a-button class="custom-button"  :id="props.id + '-close-drawer'" style="margin-right: 8px" @click="onClose">
                        {{ translate(lang, "general.cancel") }}</a-button>
                </template>
            </a-drawer>
        </div>
    </foreignObject>
</template>
<style lang="less">
.edgebutton {
    cursor: pointer;
}

.edgebutton:hover {
    box-shadow: 0 0 0 2px pink, 0 0 0 4px #f05f75;

}

foreignObject {
    width: 21px;
    overflow: visible;
}

.buttonBox {
    display: flex;
    flex-direction: column;
    // background-color: rgba(26, 25, 43, 0);
    background-color: transparent;
    justify-content: center;
    color: #fff;
    // color: @textColor;
    align-content: center;
    font-size: x-small;
    overflow-x: visible;
    width: auto;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

</style>