<template>
  <a-drawer
    class="menu-drawer"
    v-model:visible="visible"
    :title="translate(lang, 'sideMenu.title')"
    :width="200"
    :closable="true"
    placement="left"
    :footer-style="{ textAlign: 'left' }"
    @close="onClose"
    :mask="false"
  >
    
    <a-menu
      v-model:selectedKeys="selectedKeys2"
      v-model:openKeys="openKeys"
      mode="inline"
      :style="{ height: '100%', borderRight: 0 }"
    >
      <a-sub-menu key="sub1" id="inputs-dropdown">
        <template #title>
          <span>
            <!-- <user-outlined /> -->
            {{ translate(lang, "sideMenu.inputs") }}
          </span>
        </template>

        <a-popover placement="rightTop" class="node-popover" v-if="DEV_MODE">
          <template #content>
            <p
              :key="t"
              v-for="t of translate(lang, 'sideMenu.nodes.preset.description')"
            >
              {{ t }}
            </p>
          </template>
          <template #title>
            <span>{{ translate(lang, "sideMenu.nodes.preset.title") }}</span>
          </template>
          <div
            class="vue-flow__node-default menu-node dragable-node-input-preset"
            :draggable="true"
            @dragstart="(event: DragEvent) => onDragStart(event, 'selectorNode', nodeTypes.INPUT_PRESET)"
          >
            {{ translate(lang, "sideMenu.nodes.preset.title") }}
          </div>
        </a-popover>

        <a-popover placement="rightTop" class="node-popover" v-if="DEV_MODE">
          <template #content>
            <p
              :key="t"
              v-for="t of translate(lang, 'sideMenu.nodes.copy.description')"
            >
              {{ t }}
            </p>
            <pre><code>
                                    {
        "columns": [
            "name", "age", "job","salary","city","childrens"
        ],
        "data":[
           {
          "name": "John",
          "age": 35,
          "job": "assasin",
          "salary": 100360,
          "city": "Brno",
          "childrens": 0
        },
        {
          "name": "Zdenek",
          "age": 26,
          "job": "developer",
          "salary": 46950,
          "city": "Brno",
          "childrens": 0
        },
        {
          "name": "Zdenek",
          "age": 36,
          "job": "developer",
          "salary": 38150,
          "city": "Prague",
          "childrens": 3
        },
        {
          "name": "Loraine",
          "age": 94,
          "job": "cook",
          "salary": 26220,
          "city": "London",
          "childrens": 2
        },
        {
          "name": "Loraine",
          "age": 36,
          "job": "cook",
          "salary": 23050,
          "city": "Prague",
          "childrens": 2
        },
        {
          "name": "Loraine",
          "age": 34,
          "job": "cook",
          "salary": 20150,
          "city": "Brno",
          "childrens": 1
        }
        ]
    }
                                </code></pre>
          </template>
          <template #title>
            <span>{{ translate(lang, "sideMenu.nodes.copy.title") }}</span>
          </template>
          <div
            class="vue-flow__node-default menu-node dragable-node-input-copy"
            :draggable="true"
            @dragstart="(event: DragEvent) => onDragStart(event, 'selectorNode', nodeTypes.INPUT_COPY)"
          >
            {{ translate(lang, "sideMenu.nodes.copy.title") }}
          </div>
        </a-popover>

        <a-popover placement="rightTop" class="node-popover">
          <template #content>
            <p
              :key="t"
              v-for="t of translate(
                lang,
                'sideMenu.nodes.serverInput.description'
              )"
            >
              {{ t }}
            </p>
          </template>
          <template #title>
            <span>{{
              translate(lang, "sideMenu.nodes.serverInput.title")
            }}</span>
          </template>
          <div
            class="vue-flow__node-default menu-node dragable-node-input-server-set"
            :draggable="true"
            @dragstart="(event: DragEvent) => onDragStart(event, 'selectorNode', nodeTypes.INPUT_SERVER)"
          >
            {{ translate(lang, "sideMenu.nodes.serverInput.title") }}
          </div>
        </a-popover>
      </a-sub-menu>
      <a-sub-menu key="sub2" id="prep-dropdown">
        <template #title>
          <span>
            <!-- <laptop-outlined /> -->

            {{ translate(lang, "sideMenu.prepare") }}
          </span>
        </template>
        <!-- items -->

        <a-popover placement="rightTop" class="node-popover" v-if="DEV_MODE">
          <template #content>
            <p
              :key="t"
              v-for="t of translate(
                lang,
                'sideMenu.nodes.preCleaning.description'
              )"
            >
              {{ t }}
            </p>
          </template>
          <template #title>
            <span>{{
              translate(lang, "sideMenu.nodes.preCleaning.title")
            }}</span>
          </template>
          <div
            class="vue-flow__node-default menu-node dragable-node-prep-clean"
            :draggable="true"
            @dragstart="(event: DragEvent) => onDragStart(event, 'selectorNode', nodeTypes.PRE_CLEANING)"
          >
            {{ translate(lang, "sideMenu.nodes.preCleaning.title") }}
          </div>
        </a-popover>

        <a-popover placement="rightTop" class="node-popover" v-if="DEV_MODE">
          <template #content>
            <p
              :key="t"
              v-for="t of translate(
                lang,
                'sideMenu.nodes.preSelect.description'
              )"
            >
              {{ t }}
            </p>
          </template>
          <template #title>
            <span>{{ translate(lang, "sideMenu.nodes.preSelect.title") }}</span>
          </template>
          <div
            class="vue-flow__node-default menu-node"
            :draggable="true"
            @dragstart="(event: DragEvent) => onDragStart(event, 'selectorNode', nodeTypes.PRE_SELECT)"
          >
            {{ translate(lang, "sideMenu.nodes.preSelect.title") }}
          </div>
        </a-popover>

        <a-popover placement="rightTop" class="node-popover">
          <template #content>
            <p
              :key="t"
              v-for="t of translate(
                lang,
                'sideMenu.nodes.preTokenize.description'
              )"
            >
              {{ t }}
            </p>
          </template>
          <template #title>
            <span>{{
              translate(lang, "sideMenu.nodes.preTokenize.title")
            }}</span>
          </template>
          <div
            class="vue-flow__node-default menu-node dragable-node-prep-tokenize"
            :draggable="true"
            @dragstart="(event: DragEvent) => onDragStart(event, 'selectorNode', nodeTypes.PRE_TOKENIZE)"
          >
            {{ translate(lang, "sideMenu.nodes.preTokenize.title") }}
          </div>
        </a-popover>

        <a-popover placement="rightTop" class="node-popover">
          <template #content>
            <p
              :key="t"
              v-for="t of translate(
                lang,
                'sideMenu.nodes.preStopwords.description'
              )"
            >
              {{ t }}
            </p>
          </template>
          <template #title>
            <span>{{
              translate(lang, "sideMenu.nodes.preStopwords.title")
            }}</span>
          </template>
          <div
            class="vue-flow__node-default menu-node dragable-node-prep-stopwords"
            :draggable="true"
            @dragstart="(event: DragEvent) => onDragStart(event, 'selectorNode', nodeTypes.PRE_STOP_WORDS)"
          >
            {{ translate(lang, "sideMenu.nodes.preStopwords.title") }}
          </div>
        </a-popover>

        <a-popover placement="rightTop" class="node-popover">
          <template #content>
            <p
              :key="t"
              v-for="t of translate(
                lang,
                'sideMenu.nodes.preLemmatize.description'
              )"
            >
              {{ t }}
            </p>
          </template>
          <template #title>
            <span>{{
              translate(lang, "sideMenu.nodes.preLemmatize.title")
            }}</span>
          </template>
          <div
            class="vue-flow__node-default menu-node dragable-node-prep-lemmatize"
            :draggable="true"
            @dragstart="(event: DragEvent) => onDragStart(event, 'selectorNode', nodeTypes.PRE_LEMMATIZE)"
          >
            {{ translate(lang, "sideMenu.nodes.preLemmatize.title") }}
          </div>
        </a-popover>

        

        <a-popover placement="rightTop" class="node-popover">
          <template #content>
            <p
              :key="t"
              v-for="t of translate(
                lang,
                'sideMenu.nodes.prePosTagger.description'
              )"
            >
              {{ t }}
            </p>
          </template>
          <template #title>
            <span>{{
              translate(lang, "sideMenu.nodes.prePosTagger.title")
            }}</span>
          </template>
          <div
            class="vue-flow__node-default menu-node dragable-node-prep-pos"
            :draggable="true"
            @dragstart="(event: DragEvent) => onDragStart(event, 'selectorNode', nodeTypes.PRE_POS_TAGGER)"
          >
            {{ translate(lang, "sideMenu.nodes.prePosTagger.title") }}
          </div>
        </a-popover>
        
        <a-popover placement="rightTop" class="node-popover">
          <template #content>
            <p
              :key="t"
              v-for="t of translate(
                lang,
                'sideMenu.nodes.preDropColumns.description'
              )"
            >
              {{ t }}
            </p>
          </template>
          <template #title>
            <span>{{
              translate(lang, "sideMenu.nodes.preDropColumns.title")
            }}</span>
          </template>
          <div
            class="vue-flow__node-default menu-node dragable-node-prep-dropcolumns"
            :draggable="true"
            @dragstart="(event: DragEvent) => onDragStart(event, 'selectorNode', nodeTypes.PRE_DROP_COLUMNS)"
          >
            {{ translate(lang, "sideMenu.nodes.preDropColumns.title") }}
          </div>
        </a-popover>

        <a-popover placement="rightTop" class="node-popover">
          <template #content>
            <p
              :key="t"
              v-for="t of translate(
                lang,
                'sideMenu.nodes.prePreProcess.description'
              )"
            >
              {{ t }}
            </p>
          </template>
          <template #title>
            <span>{{
              translate(lang, "sideMenu.nodes.prePreProcess.title")
            }}</span>
          </template>
          <div
            class="vue-flow__node-default menu-node dragable-node-prep-process"
            :draggable="true"
            @dragstart="(event: DragEvent) => onDragStart(event, 'selectorNode', nodeTypes.PRE_PRE_PROCESS)"
          >
            {{ translate(lang, "sideMenu.nodes.prePreProcess.title") }}
          </div>
        </a-popover>

      </a-sub-menu>

      <a-sub-menu key="sub3" id="outputs-dropdown">
        <template #title>
          <span>
            <!-- <notification-outlined /> -->

            {{ translate(lang, "sideMenu.outputs") }}
          </span>
        </template>
        <!-- items -->
        <a-popover placement="rightTop" class="node-popover">
          <template #content>
            <p
              :key="t"
              v-for="t of translate(
                lang,
                'sideMenu.nodes.outputLog.description'
              )"
            >
              {{ t }}
            </p>
          </template>
          <template #title>
            <span>{{ translate(lang, "sideMenu.nodes.outputLog.title") }}</span>
          </template>
          <div
            class="vue-flow__node-default menu-node dragable-node-output-console-log"
            :draggable="true"
            @dragstart="(event: DragEvent) => onDragStart(event, 'selectorNode', nodeTypes.OUTPUT_LOG_CONSOLE)"
          >
            {{ translate(lang, "sideMenu.nodes.outputLog.title") }}
          </div>
        </a-popover>

        <a-popover placement="rightTop" class="node-popover" v-if="DEV_MODE">
          <template #content>
            <p
              :key="t"
              v-for="t of translate(
                lang,
                'sideMenu.nodes.outputChart.description'
              )"
            >
              {{ t }}
            </p>
          </template>
          <template #title>
            <span>{{
              translate(lang, "sideMenu.nodes.outputChart.title")
            }}</span>
          </template>
          <div
            class="vue-flow__node-default menu-node"
            :draggable="true"
            @dragstart="(event: DragEvent) => onDragStart(event, 'selectorNode', nodeTypes.OUTPUT_CHART)"
          >
            {{ translate(lang, "sideMenu.nodes.outputChart.title") }}
          </div>
        </a-popover>
        <!-- <a-menu-item @click="onClick()" key="8">{{translate(lang,"layout.fitView")}}</a-menu-item> -->
      </a-sub-menu>
    </a-menu>

    <button
      v-if="DEV_MODE"
      id="menu-drawer-testing-button"
      @click="handleTestButtonClick()"
    >
      TEst
    </button>

    <!-- <template #footer>
      
    </template> -->
  </a-drawer>
  <a-button
    class="custom-button"
    id="menu-drawer-close-button"
    type="primary"
    @click="showDrawer()"
    >{{ buttonLabel }}
  </a-button>
</template>

<script setup lang="ts">
import { translate } from "../../languages/languages";
import * as nodeTypes from "../../constants/nodeTypes";
import { useStore } from "../../stores/globalStore";
import { ref, onMounted, markRaw, computed } from "vue";
import * as builder from "../../services/builder";
import {
  UserOutlined,
  LaptopOutlined,
  NotificationOutlined,
} from "@ant-design/icons-vue";
import { DEV_MODE } from "../../constants/config";

const selectedKeys2 = ref<string[]>([]);
const collapsed = ref<boolean>(false);
const openKeys = ref<string[]>(["sub1"]);

const store = useStore();

const lang = computed(() => {
  return store.settings.lang;
});

const cloneTest = () => {
  let nodes = store.flowInstance.getNodes();

  let inputNodes = [];
  //inputs node selections from all nodes
  for (let node of nodes) {
    if (node.data.logicNode.inputs.length === 0) {
      let clone = builder.cloneClassInstance(node.data.logicNode);
      clone.id = clone.id + "-clone";

      node.data.logicNode = clone;
    }
  }
};

const onDragStart = (
  event: DragEvent,
  nodeType: string,
  logicNodeType: string
) => {
  if (event.dataTransfer) {
    const data = {
      nodeType: nodeType,
      logicNodeType: logicNodeType,
    };
    event.dataTransfer.setData("application/vueflow", JSON.stringify(data));
    event.dataTransfer.effectAllowed = "move";
  }
};

const onClick = () => {
  store.flowInstance.fitView();
  store.addLog({
    message: "FitView",
    formated: false,
  });
};

const handleTestButtonClick = () => {};

const visible = computed(() => {
  return store.menuOpen;
});

const buttonLabel = computed(() => {
  if (store.menuOpen) {
    return translate(lang.value, "actionBar.closeTasks");
  }

  return translate(lang.value, "actionBar.openTasks");
});

const showDrawer = () => {
  // visible.value = true;
  store.menuSwitch(!store.menuOpen);
};
const onClose = () => {
  store.menuSwitch(false);
  // visible.value = false;
};
</script>

<style lang="less" scoped>
.menu-drawer {
}

/* .ant-popover-content{
    max-height: 100vh!important;
    overflow-y: auto!important;
} */
.ant-popover-inner p {
  max-height: 20% !important;
}

pre {
  overflow: auto;
  max-height: 70vh;
}

.menu-node {
  line-height: normal;
}
</style>
