<script lang="ts" setup>
    import { CSSProperties, ref, computed } from 'vue'
    import { Handle, Position, Connection, Edge, NodeProps } from '@braks/vue-flow'
    import { useVueFlow} from '@braks/vue-flow'
    
    const { onNodeDragStop, onNodeDrag , getNode, updateNodePosition, nodes } = useVueFlow({id: 'options-api'})

    interface ParentNodeProps extends NodeProps {
        id: string,
        position:{
            x:number,
            y:number
        },
        data: {
            onLabelChange: (event: any) => void
            label: string
        }
    }
    const props = defineProps<ParentNodeProps>()
    const dropZone = ref(null);

    const targetHandleStyle: CSSProperties = { 
        background: '#555' 
    }
    const sourceHandleStyleA: CSSProperties = { 
        ...targetHandleStyle,
        top: '10px'
    }
    const sourceHandleStyleB: CSSProperties = { 
        ...targetHandleStyle, 
        bottom: '10px', 
        top: 'auto' 
    }

    const label = ref(props.data.label)

    //----------------Drawer
    const visible = ref<boolean>(false);

    const childrenDrawer = ref<boolean>(false);

    const showDrawer = () => {
        visible.value = true;
    };
    const onClose = () => {
        visible.value = false;
    };
    const showChildrenDrawer = () => {
        childrenDrawer.value = true;
    };

    const onLabelChange = (event) => {
        label.value = event.target.value
        props.data.onLabelChange({
            id: props.id,
            label: label.value
        })
    }

    const onDrop = (event: DragEvent, tp:String) => {
        event.preventDefault()
    }

    const dropZoneOffsetX = 440
    const dropZoneOffsetY = 100

    onNodeDrag((e) => {
        
        if (dropZone.value){
            let childNode = getNode.value(e.node.id)
            if (childNode.parentNode !== props.id && e.node.position.x > props.position.x && e.node.position.x < props.position.x+dropZoneOffsetX && e.node.position.y > props.position.y && e.node.position.y < props.position.y+dropZoneOffsetY) {
                dropZone.value.style.backgroundColor = "red"
            } else {
                dropZone.value.style.backgroundColor = "white"
            }
        }
    })

    onNodeDragStop((e) => {
        
        
            if ( e.node.position.x > props.position.x && e.node.position.x < props.position.x+dropZoneOffsetX && e.node.position.y > props.position.y && e.node.position.y < props.position.y+dropZoneOffsetY) {
                
                let childNode = getNode.value(e.node.id)
                if (childNode.parentNode !== props.id){
                    childNode.parentNode = props.id
                    childNode.extent= 'parent'
                    childNode.position.x = 0
                    childNode.position.y = 0
                    

                    updateNodePosition({
                        id: e.node.id,
                        diff: {
                            x: 0,
                            y: 0
                        }
                        
                    })

                    
                    dropZone.value.style.backgroundColor = "white"
                    
                }
        }
    })

    const onConnect = (params: Connection | Edge) =>{}
</script>
<script lang="ts">
    export default {
        inheritAttrs: false,
    }
</script>
<template>
    <a-drawer v-model:visible="visible" :title="label" width="1020" :closable="false"
        :footer-style="{ textAlign: 'right' }" @close="onClose">
        
        Label:
        <input type="text" :value="label" @change="onLabelChange"/>
        <!-- <a-button class="custom-button"  type="primary" @click="showChildrenDrawer">Two-level drawer</a-button> -->
        <!-- <a-drawer v-model:visible="childrenDrawer" title="Two-level Drawer" width="320" :closable="false">
            <a-button class="custom-button"  type="primary" @click="showChildrenDrawer">This is two-level drawer</a-button>
        </a-drawer> -->

        <template #footer>
            <a-button class="custom-button"  style="margin-right: 8px" @click="onClose">{{translate(lang,"general.cancel")}}</a-button>
            <a-button class="custom-button"  type="primary" @click="onClose">{{translate(lang,"general.submit")}}</a-button>
        </template>
    </a-drawer>
    <Handle :position="Position.Right" :style="targetHandleStyle" :on-connect="onConnect" />
    <!-- <div class="node-wrapper">
        <div class="customNodeHandle"></div>
        <div v-if="label === null || label === '' || label === undefined"> -->
            <!-- Custom Color Picker Node: <strong>{{ color }}</strong> -->
            <!-- {{props.id}} -->
        <!-- </div>
        <div v-else>
            <strong>{{ label }}</strong>
        </div>
        <a-button class="custom-button"  type="primary" @click="showDrawer">Open</a-button>
    </div> --> 
    <a-card size="small" :title="label" class="card-wrapper customNodeHandle ">
        
        <template #extra>
            <a-button class="custom-button"  type="primary" @click="showDrawer">Open</a-button>
        </template>
        <div ref="dropZone" class="dropZone" @drop="onDrop" @dragover="onNodeDrag">
            <div class="leftTop"></div>
            <div class="leftBottom"  :style="'transform:translate('+0+'px,'+dropZoneOffsetY+'px)'"></div>
            <div class="rightTop"  :style="'transform:translate('+dropZoneOffsetX+'px,'+0+'px)'"></div>
            <div class="rightBottom"  :style="'transform:translate('+dropZoneOffsetX+'px,'+dropZoneOffsetY+'px)'"></div>
        </div>
        {{props.position.x}}<br>
        {{props.position.y}}
    </a-card>
            
    
    
    <Handle id="a" :position="Position.Left" :style="sourceHandleStyleA" />
    <Handle id="b" :position="Position.Left" :style="sourceHandleStyleB" />
</template>
<style lang="less">
.customNodeHandle{
    /* width:20px;
    height:50px;
    background-color: antiquewhite; */
}
.node-wrapper{
    display: flex;
    border: 1px solid white;
    // border: 1px solid white;
    border-radius: 15px;
    padding: 10px;
}
.card-wrapper{
    width:500px;
    height: 500px;
}
.dropZone{
    border: 1px dashed black;
    // border: 1px dashed black;
    width: 440px;
    height: 100px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 18px;
}
.vue-flow__node.vue-flow__node-parentNode.nopan.selected.selectable{
    z-index: 999!important;
}
.vue-flow__node.vue-flow__node-parentNode.nopan.selectable{
    z-index: -1!important;
}
.leftTop{
    width:2px;
    height:2px;
    background-color: #adff2f;
    // background-color: #adff2f;
    z-index: 8888;
    position: absolute;
}
.leftBottom{

    width:2px;
    height:2px;
    background-color: blue;
    z-index: 8888;
    position: absolute;
}
.rightTop{

    width:2px;
    height:2px;
    background-color: red;
    z-index: 8888;
    position: absolute;
}
.rightBottom{

    width:2px;
    height:2px;
    background-color: blueviolet;
    z-index: 8888;
    position: absolute;
}
</style>