<script lang="ts" setup>
import {
  useZoomPanHelper,
  FlowExportObject,
  Node,
  useVueFlow,
} from "@braks/vue-flow";
import { useStorage } from "@vueuse/core";
import MenuDrawer from "./MenuDrawer.vue";
import { useStore } from "../../stores/globalStore";
import MainMenu from "../Layout/MainMenu.vue";
import DownloadModal from "../global/modals/DownloadModal.vue";
import { cloneClassInstance } from "../../services/builder";
import { translate } from "../../languages/languages";
import { computed, ref } from "vue";
import { DEV_MODE } from "../../constants/config";
import { postApi } from "../../services/server";
import * as urls from "../../constants/url";
import { message } from "ant-design-vue";
import { INPUTS } from "../../constants/nodeTypes";
import { STATUS_DONE, STATUS_ERROR, STATUS_READY, STATUS_RUNNING } from "../../constants/statusTypes";

const store = useStore();
const getNodeId = () => `randomnode_${+new Date()}`;

const { setTransform } = useZoomPanHelper();
const {
  nodes,
  edges,
  addNodes,
  getNode,
  getNodes,
  getEdges,
  addEdges,
  setNodes,
  setEdges,
  instance,
  dimensions,
  getSelectedNodes,
} = useVueFlow();

const onSave = (blank: boolean = false) => {
  store.addLog({
    message: translate(lang.value, "logMessages.saved"),
    formated: false,
  });
  // store.addLog("Saved!")
  const flowKey = store.activeFlowId;

  const state = useStorage<FlowExportObject>(flowKey, {
    nodes: [],
    edges: [],
    position: [NaN, NaN],
    zoom: 1,
  });

  // store.addLog(state)
  state.value = instance.value?.toObject();
};

store.addToFlowFunctions({
  name: "onSave",
  function: (blank: boolean) => onSave(blank),
  // function:(nodeId:string, logicNode:{}) => refreshNodeWithSameLogicNode(nodeId, logicNode)
});

const onRestore = () => {
  const flowKey = store.activeFlowId;
  const state = useStorage<FlowExportObject>(flowKey, {
    nodes: [],
    edges: [],
    position: [0, 0],
    zoom: 1,
  });
  const flow: FlowExportObject | null = state.value;

  if (flow) {
    const [x = 0, y = 0] = flow.position;
    setNodes(state.value.nodes);
    setEdges(state.value.edges);
    setTransform({ x, y, zoom: flow.zoom || 0 });
  }
};

const refreshFlow = () => {
  let newNodes = [];
  for (let node of getNodes.value) {
    let clone = cloneClassInstance(node.data.logicNode);
    // node.data.logicNode = clone
    let newNode = {...node};
    newNode.logicNode = clone;
    newNodes.push(newNode);
    // let newNodeCopy = { ...newNode };
    // newNodeCopy.id = newNodeCopy.id + "-copy";
    // newNodes.push(newNodeCopy);
  }

  setNodes(newNodes);
};

const refreshNode = (nodeId: string) => {
  let node = getNode.value(nodeId);
  let clone = cloneClassInstance(node.data.logicNode);
  node.data.logicNode = clone;
};

const refreshNodeWithSameLogicNode = (nodeId: string, logicNode: {}) => {
  for (let n of getNodes.value) {
    if (n.id === nodeId) {
      n.data.logicNode = {};
      n.data.logicNode = logicNode;
    }
  }
};

const undo = () => {
  //dodělat - opravit cyklování ctrl + z
  let index = store.historyIndex;

  if (index === null) {
    index = store.history.length - 1;
  }

  if (index - 1 >= 0) {
    index = index - 1;

    // store.setHistoryIndex(index)
    const flow: FlowExportObject | null = store.history[index];
    if (flow) {
      // const [x = 0, y = 0] = flow.position
      // setNodes(flow.nodes)
      // setEdges(flow.edges)
      // setTransform({ x, y, zoom: flow.zoom || 0 })
      store.flowFunctions.loadActiveFlow(flow);
      store.setHistoryIndex(index);
    }
  }
  // const history = useStorage("history", [])
  // if (index === null) {

  //     index = history.value.length - 1
  // }

  // if (index - 1 >= 0) {
  //     index = index - 1

  //     const flow: FlowExportObject | null = history.value[index]

  //     if (flow) {
  //         // const [x = 0, y = 0] = flow.position
  //         // setNodes(flow.nodes)
  //         // setEdges(flow.edges)
  //         // setTransform({ x, y, zoom: flow.zoom || 0 })

  //     }
  // }
};

const redo = () => {
  let index = store.historyIndex;
  const flow: FlowExportObject | null = store.history[index + 1];
  if (index + 1 <= store.history.length) {
    if (flow) {
      // const [x = 0, y = 0] = flow.position
      // setNodes(flow.nodes)
      // setEdges(flow.edges)
      // setTransform({ x, y, zoom: flow.zoom || 0 })
      store.setHistoryIndex(index + 1); //rebuild nodů, nelze pouze nastavit nody, edge a transform, je nutné trignout rebuildovací metodu ve flow.vue
      store.flowFunctions.loadActiveFlow(flow);
      index = index + 1;
    }
  }
  // const history = useStorage("history", [])

  // const flow: FlowExportObject | null = history.value[index + 1]

  // if (index + 1 <= history.value.length) {

  //     if (flow) {
  //         // const [x = 0, y = 0] = flow.position
  //         // setNodes(flow.nodes)
  //         // setEdges(flow.edges)
  //         // setTransform({ x, y, zoom: flow.zoom || 0 })
  //         store.setHistoryIndex(index+1) //rebuild nodů, nelze pouze nastavit nody, edge a transform, je nutné trignout rebuildovací metodu ve flow.vue
  //         index = index + 1
  //     }
  // }
};

const saveToHistory = (
  instance: FlowExportObject | null,
  reset: boolean = false,
  initial: boolean = false,
  message: string = ""
) => {
  let index = store.historyIndex;
  let history = store.history;
  let newHistory = [];
  if (index !== null) {
    if (history.length - 1 !== index) {
      for (let [i, h] of history.entries()) {
        if (i <= index) {
          newHistory.push(h);
        }
      }

      store.setHistory(newHistory);
    }
  }

  let data = instance?.value?.toObject();
  if (initial) {
    data = {
      nodes: instance?.nodes,
      edges: instance?.edges,
      position: instance?.position,
      zoom: instance?.zoom,
    };
  }
  data.message = message;
  if (reset) {
    store.setHistory([data]);
    store.setHistoryIndex(null);
  } else {
    store.addToHistory(data);
    store.setHistoryIndex(store.history.length - 1);
  }
  // const history = useStorage("history", [])

  // let data = instance?.value?.toObject()
  // if (initial) {
  //     data = {
  //         nodes: instance?.nodes,
  //         edges: instance?.edges,
  //         position: instance?.position,
  //         zoom: instance?.zoom
  //     }
  // }

  // if (reset) {
  //     history.value = [data]
  // } else {
  //     history.value.push(data)
  // }
};

store.addToFlowFunctions({
  name: "refreshFlow",
  function: refreshFlow,
});

store.addToFlowFunctions({
  name: "refreshNode",
  function: (nodeId: string) => refreshNode(nodeId),
});
store.addToFlowFunctions({
  name: "refreshNodeWithSameLogicNode",
  function: (nodeId: string, logicNode: {}) =>
    refreshNodeWithSameLogicNode(nodeId, logicNode),
});
store.addToFlowFunctions({
  name: "saveToHistory",
  function: (
    instance: FlowExportObject | null,
    reset: boolean,
    initial: boolean,
    message: string
  ) => saveToHistory(instance, reset, initial, message),
});
store.addToFlowFunctions({
  name: "undo",
  function: undo,
});
store.addToFlowFunctions({
  name: "redo",
  function: redo,
});

const lang = computed(() => {
  return store.settings.lang;
});

const handleTestButtonClick = () => {
  // store.flowFunctions.refreshFlow()
  // const d = localStorage.getItem("settings")

  localStorage.clear();
};

const handleTEstButtonResetClick = () => {
  const history = useStorage("history", []);
  const flow: FlowExportObject | null = history.value[0];
  const [x = 0, y = 0] = flow.position;
  setNodes(flow.nodes);
  setEdges(flow.edges);
  setTransform({ x, y, zoom: flow.zoom || 0 });
  // const removedTabName = history.value.splice(-1, 1)
};

const handleTestButtonClickIndex = () => {};

const handleTestButtonStoreClick = () => {};

const uploadDatasetVisible = ref<boolean>(false);

const showModal = () => {
  uploadDatasetVisible.value = true;
};

const runPipeline = () => {
  //přepnutí do running modu - dočasně povolí automatické spouštění akcí uzlů a zakáže připojování a přidávávání uzlů
  store.setPipelineRunning(true)
  
  store.addLog({
    message: translate(lang.value, "logMessages.pipelineStarted"),
    formated: false,
  });
  let startTime = new Date()
  //spustí změny, tak že vyhledá všechny input uzly a spustí jejích následníky -> spustí se řetězová reakce až na konec pipeline
  let nodes = getNodes.value
  for (let node of nodes){
    if (INPUTS.includes(node.data.logicNode.nodeType)){
      for (let output of node.data.logicNode.outputs){
        for (let next of output.next){
          let node = getNode.value(next.target)
          let clone = cloneClassInstance(node.data.logicNode)
          for (let action of clone.actions){
            if (action.autoRun){
              action.callback()
            }
          }

          node.data.logicNode = clone
        }
      }
    }
  }
  //spouští se interval, který kontroluje zda všechny uzly jsou v error nebo done stavu, tedy že došli k nějakému výsledku
  let counter = 0
  const numberOfNodes = getNodes.value.length
  let interval = setInterval(()=>{
    let runningNodes = []
    let isEverythingDone = true
    for (let node of getNodes.value){
      if (node.data.logicNode.status === STATUS_RUNNING ){
        isEverythingDone = false
        runningNodes.push(node)
      }
    }

    //když jsou všechny uzly v konečném stavu vypne se running mod
    if (isEverythingDone){
      clearInterval(interval)
      store.setPipelineRunning(false)
      let endTime = new Date()
      let time = (endTime - startTime) / 1000
      store.addLog({
        message: translate(lang.value, "logMessages.pipelineEnd", {time : time}),
        formated: false,
      });
    }
    
    //pokud nějaký proces trvá nepřiměřeně dlouho, je uživatel dotázán, jestli chce dále čekat, nebo jestli se má proces ukončit
    if (counter >= numberOfNodes){
      store.setAcceptModal({
          visible: true,
          message: translate(lang.value,"runningMode.tooLongProcessing"),
          title: translate(lang.value,"runningMode.title"),
          callback: () => {
            clearInterval(interval)
            for (let runningNode of runningNodes){
              runningNode.data.logicNode.stopProcess()
            }
            
            store.setPipelineRunning(false)
            let endTime = new Date()
            let time = (endTime - startTime) / 1000
            store.addLog({
              message: translate(lang.value, "logMessages.pipelineEnd", {time : time}),
              formated: false,
            });
          },
      })
      counter = 0
    }
    counter++
  },3000)
}

const handleOk = (e: MouseEvent) => {
  //console.log(e);
  uploadDatasetVisible.value = false;
};

const datasetName = ref("");
const handleDatasetNameChange = (e: Event) => {
  //console.log(e.target.value);
  datasetName.value = e.target.value;
};

const beforeUpload = (d) => {
  //console.log(d);
};

const fileList = ref([]);
const sendFileRequest = async (data) => {
  if (data.event) {
    let formData = new FormData();

    formData.append(
      "file",
      new File([data.file.originFileObj], data.file.name, {
        type: data.file.type,
      })
    );
    // formData.append("file", new File(fileList.value, fileList.value[0].name, { type: fileList.value[0].type }));
    // fileList.value[0].name
    // formData.append('file', File(['<data goes here>'], 'testovaciSOubor.txt;type=text/plain'));
    let response = await postApi(
      urls.URL_FILES +
        "?name=" +
        datasetName.value +
        "&header_row=0&skip_rows=0&skip_empty_rows=true&delimiter=%2C",
      formData,
      {
        headers: {
          "Content-Type": "text/plain",
          'Authorization': 'Bearer ' + useStore().activeUser.token
        },
      }
    );
    // if (response.status === 200){
    //     let f = fileList.value[0]
    //     f.status = "done"
    //     fileList.value[0] = f
    // }

    // if (data.file.status !== 'uploading') {
    //     //console.log(data.file, data.fileList);
    // }
    //console.log(response);
    if (response.status === 200) {
      
      message.success(translate(lang.value, "messages.succesUpload",{filename:data.file.name}))
      // message.success(`${data.file.name} file uploaded successfully`);
      let f = fileList.value[0];
      f.status = "done";
      fileList.value[0] = f;
    } else if (data.file.status === "error") {
      translate(lang.value, "messages.failedUpload",{filename:data.file.name})
      // message.error(`${data.file.name} file upload failed.`);
    }
  }
};

const toolBarStyles = () => {
  if (store.menuOpen) {
    return {
      paddingLeft: "200px",
    };
  }
  return {};
};
</script>
<template>
  <div class="save__controls" :style="toolBarStyles()">
    <a-button
      class="custom-button"
      v-if="DEV_MODE"
      id="save-controls-testing-button"
      @click="handleTestButtonClick()"
      >TEst</a-button
    >
    <MenuDrawer />
    <a-button  id="save-button" class="custom-button" type="primary" @click="onSave"
      >{{ translate(lang, "actionBar.save") }}
    </a-button>
    <a-modal
      v-model:visible="uploadDatasetVisible"
      :title='translate(lang, "actionBar.uploadDatasetModalTitle")' 
      @ok="handleOk"
      class="upload-modal"
    >

      {{translate(lang, "dataset.datasetName")}}: <a-input
        @change="(value) => handleDatasetNameChange(value)"
        :value="datasetName"
      />
      <a-upload
        v-model:file-list="fileList"
        name="file"
        @change="(e) => sendFileRequest(e)"
        ref="uploadButoon"
        :before-upload="beforeUpload"
        :max-count="1"
        :disabled="datasetName.length<1"
      >
        <a-button 
      :disabled="datasetName.length<1">
          <upload-outlined></upload-outlined>
          {{translate(lang, "dataset.clickToUpload")}}
        </a-button>
      </a-upload>
    </a-modal>
    <a-button type="primary" 
        id="upload-button"
      
      @click="showModal()">{{
      translate(lang, "actionBar.uploadDataset")
    }}</a-button>

    
    <a-button id="run-button" class="run-button" type="primary" :loading="store.pipelineRunning"
      @click="runPipeline()">
      <span>{{translate(lang, "actionBar.start")}}</span>
  </a-button>

  <DownloadModal />

  </div>
</template>

<style lang="less">
.save__controls {
    text-align: left;
    position: relative;
    z-index: 100;
    display: flex;
    background-color: #1A192B // background-color: @header;
}

.save__controls button {
    border-radius: 0 !important;
}
</style>
