<script setup lang="ts">
import HelloWorld from './components/HelloWorld.vue'
import Layout from "./components/Layout.vue";
import { onMounted, onUnmounted, computed } from 'vue'
import { useStore } from "./stores/globalStore"
import * as config from "./constants/config"
import { notification } from 'ant-design-vue';
import { DEV_MODE } from './constants/config';


const store = useStore()

window.onbeforeunload = closingCode;
function closingCode() {
  // do something...

  store.flowFunctions.onSave()
  // return "next"
  return null
}

onMounted(() => {
  window.addEventListener("keydown", keyboardListener);


})
onUnmounted(() => {
  window.removeEventListener("keydown", keyboardListener);
  window.removeEventListener("onbeforeunload", closingCode);
})


const messageTime = computed(() => {
  return store.settings.messageTime
});
const messageOn = computed(() => {
  return store.settings.messageOn
});


const openNotification = (title, description, callback = () => { }) => {
  notification.open({
    message: title,
    description: description,
    onClick: () => {
      callback()
    },
    placement: "bottomRight",
    duration: messageTime.value,
    style: { width: "auto" }
  });

}

const keyboardListener = (e: KeyboardEvent) => {
  // if (e.ctrlKey && e.key === "d"){
  //   e.preventDefault()
  //   store.flowFunctions.nodeDuplicate()
  // } 



  if (messageOn.value) {
    if (e.key !== "Control" &&
      e.key !== "Shift" &&
      e.key !== "Alt"
    ) {
      let messageKeyPressed = ""
      if (e.ctrlKey) messageKeyPressed += "ctrl + "
      if (e.altKey) messageKeyPressed += "alt + "
      if (e.shiftKey) messageKeyPressed += "shift + "
      messageKeyPressed += e.key

      openNotification("Pressed key", messageKeyPressed)
    }
  }


  if (e.ctrlKey && e.key === "s") {
    e.preventDefault()
    store.flowFunctions.onSave()
  }
  if (e.ctrlKey && e.key === "a") {
    e.preventDefault()

    store.flowFunctions.onSelectAll()
  }
  if (e.ctrlKey && e.key === "r") {
    e.preventDefault()
    store.flowFunctions.onRemoveSelected()
  }
  if (e.ctrlKey && e.key === "z") {
    e.preventDefault()
    store.flowFunctions.undo()
  }
  if (e.ctrlKey && e.key === "y") {
    e.preventDefault()
    store.flowFunctions.redo()
  }
  if (e.key === "Escape") {
  }
  if (e.key == "F8") { // F8

    debugger;
  }
}

onMounted(() => {
  //defaultní nastavení
  let newSettings = {}
  if (!("autoSaveOnSwitch" in store.settings)) {
    newSettings.autoSaveOnSwitch = config.SETTINGS_AUTO_SAVE_ON_SWITCH
  }
  if (!("autoRun" in store.settings)) {
    newSettings.autoRun = config.SETTINGS_AUTO_RUN
  }
  if (!("displayActionButtons" in store.settings)) {
    newSettings.displayActionButtons = config.SETTINGS_DISPLAY_ACTION_BUTTONS
  }
  if (!("displayModals" in store.settings)) {
    newSettings.displayModals = config.SETTINGS_DISPLAY_MODALS
  }
  if (!("numberOfTabs" in store.settings)) {
    newSettings.numberOfTabs = config.SETTINGS_NUMBER_OF_TABS
  }
  if (!("handleSize" in store.settings)) {
    newSettings.handleSize = config.SETTINGS_HANDLE_SIZE
  }
  if (!("acceptModalAllowed" in store.settings)) {
    newSettings.acceptModalAllowed = config.SETTINGS_ACCEPT_MODAL_ALLOWED
  }
  if (!("lang" in store.settings)) {
    newSettings.lang = config.SETTINGS_LANG
  }
  if (!("messageTime" in store.settings)) {
    newSettings.messageTime = config.SETTINGS_MESSAGE_TIME
  }
  if (!("messageOn" in store.settings)) {
    newSettings.messageOn = config.SETTINGS_MESSAGE_ON
  }
  if (!("showOnboarding" in store.settings)) {
    newSettings.showOnboarding = config.SETTINGS_ON_BOARDING_ON
  }
  if (!("lengthOfText" in store.settings)) {
    newSettings.lengthOfText = config.SETTINGS_LENGTH_OF_TEXT
  }
  if (!("nodeStyle" in store.settings)) {
    newSettings.nodeStyle = config.SETTINGS_NODE_STYLE
  }
  

  store.setSettings(
    newSettings
  )



})
</script>

<template>
  <!-- <button v-if="DEV_MODE" @click="openNotification()">popupMEssage</button> -->
  <Layout></Layout>
</template>

<style lang="less">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  // color: @textColor;
  height: 100vh;
}



body {
  margin: 0;
}

// .custom-button {
//   background-color: @activeElements !important;
//   border: none !important;
//   color: @textColor !important;
// }

// .custom-button:hover {
//   box-shadow: 0 0 0 2px @activeElementsLight, 0 0 0 4px @activeElementsDark;

// }


// .custom-button.danger {
//   background-color: @activeElements !important;
//   border: none !important;
//   color: @textColor !important;
// }

// .custom-button.danger:hover {
//   box-shadow: 0 0 0 2px @activeElementsLight, 0 0 0 4px @activeElementsDark;

// }

// .ant-switch-checked {
//   background-color: @activeElements !important;

//   .ant-switch-inner {
//     color: @textColor !important;
//   }
// }

// .ant-slider-track {
//   background: @activeElements !important;
// }

// .ant-slider-handle {
//   border-color: @activeElements !important;
// }

// .ant-menu-item-selected {
//   background-color: @activeElements !important;
//   color: @textColor !important;
// }

// .ant-layout-header {
//   background-color: @header !important;
// }

// .ant-menu {
//   background-color: @header !important;
// }

.vue-flow__transformationpane.vue-flow__container {
  transform: "";


}

/* CSS HEX */
/* --raisin-black: #1B1E2Dff;
--gunmetal: #252F3Fff;
--cadmium-orange: #E18336ff;
--medium-sea-green: #48BA78ff;
--rich-black-fogra-29: #0E1318ff;
--silver-sand: #BEC4CCff;
--raisin-black-2: #1B202Cff; */
</style>
