<script lang="ts" setup>

interface ActionButtonsProps {
    actions: []
}
</script>
<template>
    <a-popover :visible="actionVisible" trigger="click" placement="bottomRight">
        <template #title>
            <div :style="{display:'flex',justifyContent: 'space-between'}">
                
                actions
                <a-button class="custom-button"  @click="visibilityActions">CLose</a-button>
            </div>
        </template>
    <template #content>
        
        <div class="action-buttons" :style="actionButtonsStyle" v-if="props.data.logicNode.actions.length>0">
            <a-button class="custom-button"  v-for="action of props.data.logicNode.actions" @click="handleCallbacks(action)">
                {{action.type}}
                <component :is="dynamicComponent(action.icon)"></component>
            </a-button>
        </div>
        <div v-else>No actions </div>


    </template>
        <a-button class="custom-button"  @click="visibilityActions">
            <CaretRightOutlined />
        </a-button>
    </a-popover>
</template>