<script lang="ts" setup>

    import { CSSProperties, ref, computed, watch, onMounted } from 'vue'
    import * as statusTypes from "../../../constants/statusTypes"
        
    interface StatusBadgeProps  {
        status: string
        statusMessage: string
        nodeStyle: string
    }
    const props = defineProps<StatusBadgeProps>()
    
    const getStatusBadgeColor = computed(()=>{
        switch (props.status) {
            case statusTypes.STATUS_READY:
                return statusTypes.STATUS_READY_COLOR
            case statusTypes.STATUS_ERROR:
                return statusTypes.STATUS_ERROR_COLOR
            case statusTypes.STATUS_DONE:
                return statusTypes.STATUS_DONE_COLOR
            case statusTypes.STATUS_RUNNING:
                return statusTypes.STATUS_RUNNING_COLOR
        
            default:
                return "black"
        }
    })

    
    let alphaStyle = {
        
        borderRadius: "10px",
        width:"20px",
        height: "20px",
        top:"-10px",
        left:"-10px",
        position: "absolute",
        // marginTop: "-60px",
        // marginLeft: "-15px",
    }

    let clasicStyle = {
        borderRadius: "10px",
        width:"10px",
        height: "10px",
        marginTop: "-5px",
        marginLeft: "100%",
        
    }

    const getClass = () => {
        if (props.nodeStyle==="alpha"){
            return "dot-alpha"
        }

        return "dot-clasic"
    }

</script>

<template>
    <div>
        
        <a-tooltip>
            <template class="hjkl" #title>{{props.statusMessage}}</template>
            <div :class="getClass()" :style="{backgroundColor:getStatusBadgeColor}"></div>
        </a-tooltip>
        <slot></slot>
    </div>
</template>

<style lang="less" scoped>
.dot-clasic{
    
    border-radius: 10px;
    width:10px;
    height: 10px;
    margin-top: -5px;
    margin-left: 100%;
}
.dot-alpha{
    
    border-radius: 10px;
    width:20px;
    height: 20px;
    top:-10px;
    left:-10px;
    position: absolute;
}
</style>