<template>
    <a-button class="custom-button"  id="on-boarding-help-button" @click="onBoardingsSettingsChange()" size="large" type="primary" shape="circle">
        <template #icon>
            <question-outlined />
        </template>
    </a-button>
    <OnBoardingSettings :visible="onBoadrdingSerringsVisible" />
    <div class="container">
        <div id="settings-actionButtons">
            {{ translate(lang, "settings.preferences.actionButtons") }}:
            <a-switch v-model:checked="displayActionButtons" @change="handleDeisplayActionButtons()" />
        </div>

        <div id="settings-autoTabSave">
            {{ translate(lang, "settings.preferences.autoTabSave") }}:
            <a-switch v-model:checked="autoSaveOnSwitch" @change="handleAutoSaveOnSwitch()" />
        </div>

        <div id="settings-autoRun">
            {{ translate(lang, "settings.preferences.autoRun") }}:
            <a-switch v-model:checked="autoRun" @change="handleAutoRun()" />
        </div>

        <div id="settings-acceptModalAllowed">
            {{ translate(lang, "settings.preferences.acceptModalAllowed") }}:
            <a-switch v-model:checked="acceptModalAllowed" @change="handleAcceptModalAlowedChange()" />
        </div>

        <div id="settings-showOnboarding">
            {{ translate(lang, "settings.preferences.showOnboarding") }}:
            <a-switch v-model:checked="showOnboarding" @change="handleOnBoardingOn()" />
        </div>


        <a-divider />
        <div id="settings-numberOfTabs">
            {{ translate(lang, "settings.preferences.numberOfTabs") }}:
            <a-slider v-model:value="numberOfTabs" :min="1" :max="20" size="small"
                @change="handleNumberOfTabsChange()" />
            <a-input-number v-model:value="numberOfTabs" size="small" :min="1" :max="20"
                @change="handleNumberOfTabsChange()" />
        </div>
        <a-divider />

        <div id="settings-handleSize">
            <h2>{{ translate(lang, "settings.preferences.handleSizeTitle") }}</h2>
            {{ translate(lang, "settings.preferences.handleSize") }}:
            <a-slider v-model:value="handleSize" :min="1" :max="20" size="small" @change="handleSizeOfHandles()" />
            <a-input-number v-model:value="handleSize" size="small" :min="1" :max="100"
                @change="handleSizeOfHandles()" />
        </div>
        <a-divider />

        <h2>{{ translate(lang, "settings.preferences.design") }}</h2>
        <div id="settings-modalDisplay">
            {{ translate(lang, "settings.preferences.modalDisplay") }}:
            <a-switch v-model:checked="displayModals" @change="handleDisplayModals()" />
        </div>
        <div id="settings-nodeStyle">
            {{ translate(lang, "settings.preferences.nodeStyle") }}:
            <a-switch v-model:checked="nodeStyle" @change="handleNodeStyle()" />
        </div>
        <a-divider />

        <h2>{{ translate(lang, "settings.preferences.messageTitle") }}</h2>
        <div id="settings-messageOn">
            {{ translate(lang, "settings.preferences.messageOn") }}:
            <a-switch v-model:checked="messageOn" @change="handleMessageOnChange()" />
        </div>
        <div v-if="messageOn" id="settings-messageTime">
            {{ translate(lang, "settings.preferences.messageTime") }}:
            <a-slider v-model:value="messageTime" :min="1" :max="20" size="small"
                @change="handleMessageTimeChanged()" />
            <a-input-number v-model:value="messageTime" size="small" :min="1" :max="100"
                @change="handleMessageTimeChanged()" />
        </div>
        <a-divider />
        
        <h2>{{ translate(lang, "general.datasets") }}</h2>
        <div id="settings-lengthOfText">
            {{ translate(lang, "settings.preferences.lengthOfText") }}:
            <a-slider v-model:value="lengthOfText" :min="60" :max="2000" size="small"
                @change="handleLengthOfTextChange()" />
            <a-input-number v-model:value="lengthOfText" size="small" :min="60" :max="2000"
                @change="handleLengthOfTextChange()" />
        </div>
        <a-divider />
    </div>
</template>
<script lang="ts" setup>
import { defineComponent, ref, computed } from 'vue';
import { useStore } from "../../../stores/globalStore"
import { translate } from '../../../languages/languages';
import OnBoardingSettings from '../../global/onBoarding/OnBoardingSettings.vue';
import { QuestionOutlined } from '@ant-design/icons-vue';

//do konfiguráku přidat nové položky pro messages

const store = useStore()


const lang = computed(() => {
    return store.settings.lang
});

const onBoadrdingSerringsVisible = ref(false)

const onBoardingsSettingsChange = () => {
    onBoadrdingSerringsVisible.value = !onBoadrdingSerringsVisible.value
}

const numberOfTabs = ref(store.settings.numberOfTabs)
const lengthOfText = ref(store.settings.lengthOfText)
const handleSize = ref(store.settings.handleSize)

const messageTime = ref(store.settings.messageTime)
const messageOn = ref(store.settings.messageOn)

const showOnboarding = ref(store.settings.showOnboarding)


const displayActionButtons = ref<boolean>(store.settings.displayActionButtons);
const displayModals = ref<boolean>(store.settings.displayModals);
const nodeStyle = ref<boolean>(store.settings.nodeStyle);
const autoSaveOnSwitch = ref<boolean>(store.settings.autoSaveOnSwitch);
const autoRun = ref<boolean>(store.settings.autoRun);
const acceptModalAllowed = ref<boolean>(store.settings.acceptModalAllowed)



const handleDeisplayActionButtons = () => {
    store.setSettings({
        displayActionButtons: displayActionButtons.value
    })
}
const handleDisplayModals = () => {
    store.setSettings({
        displayModals: displayModals.value
    })
}
const handleAutoSaveOnSwitch = () => {
    store.setSettings({
        autoSaveOnSwitch: autoSaveOnSwitch.value
    })
}
const handleAutoRun = () => {
    store.setSettings({
        autoRun: autoRun.value
    })
}
const handleNumberOfTabsChange = () => {
    store.setSettings({
        numberOfTabs: numberOfTabs.value
    })
}
const handleAcceptModalAlowedChange = () => {
    store.setSettings({
        acceptModalAllowed: acceptModalAllowed.value
    })
}
const handleSizeOfHandles = () => {
    store.setSettings({
        handleSize: handleSize.value
    })
}

const handleMessageTimeChanged = () => {
    store.setSettings({
        messageTime: messageTime.value
    })
}
const handleMessageOnChange = () => {
    store.setSettings({
        messageOn: messageOn.value
    })
}
const handleOnBoardingOn = () => {
    store.setSettings({
        showOnboarding: showOnboarding.value
    })
}

const handleLengthOfTextChange = () => {
    
    store.setSettings({
        lengthOfText: lengthOfText.value
    })
}

const handleNodeStyle = (e) => {
    store.setSettings({
        nodeStyle: nodeStyle.value?"alpha":"clasic"
    })
}

</script>
<style lang="less" scoped>
.container {
    display: flex;
    flex-direction: column;
}
#on-boarding-help-button{
    position: absolute;
    right:50px;
    top:33vh;
}
</style>