<template>
    <div class="container">
        aeiurhgaerhg
        <a-button class="custom-button" @click="sendTestRequest()">Test request</a-button>
        <a-button class="custom-button" @click="test2Click()">Test2 click</a-button>
        <a-button class="custom-button" @click="sendComponentsRequest()">sendComponentsRequest click</a-button>
        <!-- {{ JSON.stringify(components) }} -->
        <ul>
            <li v-for="component of components" :key="component._id">
                <ul>
                    <li v-for="(item, key, index) in component" :key="key + item">
                        <div v-if="key === 'parameters'">
                            <ul>
                                <li v-for="(parameter, keyParameter, indexParameter) in item"
                                    :key="keyParameter + parameter">
                                    {{ indexParameter }})
                                    {{ keyParameter }}:
                                    <span :style="{ color: 'red' }">
                                        {{ parameter }}
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div v-else>
                            {{ index }})
                            {{ key }}:
                            <span :style="{ color: 'red' }">
                                {{ item }}
                            </span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- :action="urls.URL_FILES + '?header_row=0&skip_rows=0&skip_empty_rows=true&delimiter=%2C'" :headers="headers" -->
        <a-input @change="(value) => handleDatasetNameChange(value)" :value="datasetName" />
        <a-upload v-model:file-list="fileList" name="file" @change="(e) => sendFileRequest(e)" ref="uploadButoon"
            :before-upload="beforeUpload" :max-count="1">
            <a-button>
                <upload-outlined></upload-outlined>
                Click to Upload
            </a-button>
        </a-upload>
        <!-- <form form method="post" enctype="multipart/form-data" :action="urls.URL_FILES + '?header_row=0&skip_rows=0&skip_empty_rows=true&delimiter=%2C'">
            <input type="file"
                 />
            <button>Submit</button>
        </form> -->
        <!-- <a-button class="custom-button" @click="sendFileRequest()">sendFileRequest click</a-button> -->
    </div>
</template>
<script lang="ts" setup>
import { defineComponent, ref, computed } from 'vue';
import { useStore } from "../../../stores/globalStore"
import { translate } from '../../../languages/languages';
import { getApi, postApi } from "../../../services/server"
import * as urls from "../../../constants/url"
import { message } from 'ant-design-vue';

//do konfiguráku přidat nové položky pro messages

const store = useStore()

const uploadButoon = ref()

const lang = computed(() => {
    return store.settings.lang
});
const numberOfTabs = ref(store.settings.numberOfTabs)

const id = ref("")
const headers = {
    "authorization": 'authorization-text',
    "Content-Type": "multipart/form-data; boundary=----WebKitFormBoundary82jsxaIFa3S5sO6T",
    "X-Requested-With": "XMLHttpRequest"
}

// const headers = {
//     Accept: */*
// Accept-Encoding: gzip, deflate, br
// Accept-Language: cs-CZ,cs
// Cache-Control: no-cache
// Connection: keep-alive
// Content-Length: 249
// Content-Type: multipart/form-data; boundary=----WebKitFormBoundary82jsxaIFa3S5sO6T
// Host: mta.pef.mendelu.cz
// Origin: http://localhost:3000
// Pragma: no-cache
// Referer: http://localhost:3000/
// Sec-Fetch-Dest: empty
// Sec-Fetch-Mode: cors
// Sec-Fetch-Site: cross-site
// Sec-GPC: 1
// User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36
// X-Requested-With: XMLHttpRequest
// authorization: authorization-text



// Accept: application/json, text/plain, */*
// Accept-Encoding: gzip, deflate, br
// Accept-Language: cs-CZ,cs
// Cache-Control: no-cache
// Connection: keep-alive
// Content-Length: 323
// Content-Type: multipart/form-data; boundary=----WebKitFormBoundary82jsxaIFa3S5sO6T
// Host: mta.pef.mendelu.cz
// Origin: http://localhost:3000
// Pragma: no-cache
// Referer: http://localhost:3000/
// Sec-Fetch-Dest: empty
// Sec-Fetch-Mode: cors
// Sec-Fetch-Site: cross-site
// Sec-GPC: 1
// User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36
// authorization: authorization-text

// }
const fileList = ref([]);
const file = ref(null);

const components = ref([])

const sendTestRequest = async () => {
    let response = await getApi(urls.URL_MAIN_ROUTE)
    for (let path of response) {
        //console.log(path.path)
    }
    response = await getApi(urls.URL_LIST_OF_DATASETS)
    //console.log(response)
    //console.log(response[0]._id)
    // response = await getApi(urls.URL_SPECIFIC_DATASET(response[0]._id))
    // //console.log(response)
    const body = {
        "workspace_id": "",
        "user_id": useStore().activeUser.token,
        "input_data_id": response[0]._id,
        "task": "word_tokenizer",
        "lang": "english"
    }
    response = await postApi(urls.URL_LIST_OF_TASKS, body)
    // response = await getApi(urls.URL_LIST_OF_TASKS)
    //console.log(response)
    id.value = response.data._id

}

const sendComponentsRequest = async () => {
    let response = await getApi(urls.URL_COMPONENTS)
    //console.log(response)
    components.value = response

}

const datasetName = ref("")
const handleDatasetNameChange = (e: Event) => {
    //console.log(e.target.value)
    datasetName.value = e.target.value
}

const beforeUpload = (d) => {
    //console.log(d)

}

const sendFileRequest = async (data) => {
    if (data.event) {
        let formData = new FormData();

        formData.append("file", new File([data.file.originFileObj], data.file.name, { type: data.file.type }));
        // formData.append("file", new File(fileList.value, fileList.value[0].name, { type: fileList.value[0].type }));
        // fileList.value[0].name
        // formData.append('file', File(['<data goes here>'], 'testovaciSOubor.txt;type=text/plain'));
        let response = await postApi(urls.URL_FILES + "?name=" + datasetName.value + "&header_row=0&skip_rows=0&skip_empty_rows=true&delimiter=%2C", formData, {
            headers: {
                'Content-Type': 'text/plain',
                'Authorization': 'Bearer ' + useStore().activeUser.token
            }
        })
        // if (response.status === 200){
        //     let f = fileList.value[0]
        //     f.status = "done"
        //     fileList.value[0] = f
        // }

        // if (data.file.status !== 'uploading') {
        //     //console.log(data.file, data.fileList);
        // }
        if (response.status === 200) {
            //console.log(translate(lang.value, "messages.succesUpload",{filename:data.file.name}))
            message.success(translate(lang.value, "messages.succesUpload",{filename:data.file.name}))
            // message.success(`${data.file.name} file uploaded successfully`);
            let f = fileList.value[0]
            f.status = "done"
            fileList.value[0] = f
        } else if (data.file.status === 'error') {
            message.error(translate(lang.value, "messages.failedUpload",{filename:data.file.name}))
            // message.error(`${data.file.name} file upload failed.`);
        }
    }


}
const test2Click = async () => {
    //console.log(id.value)
    //console.log(urls.URL_SPECIFIC_TASK(id.value))
    const response = await getApi(urls.URL_SPECIFIC_TASK(id.value))
    //console.log(response)
}


</script>
<style lang="less" scoped>
.container {
    display: flex;
    flex-direction: column;
}
</style>

