<template>
    <div class="container">
        <!-- {{ JSON.stringify(user) }} -->
        Jméno: <h3>{{ user.name }}</h3>
        Email: <h3>{{ user.email }}</h3>
        <div v-if="DEV_MODE">
            Heslo: <h3>{{ user.password }}</h3>
        </div>
        <div v-if="DEV_MODE">
            Token: <h3>{{ user.token }}</h3>
        </div>
        <div v-if="DEV_MODE">
            <a-button @click="handleGetUserDetails()">handleGetUserDetails</a-button>
        </div>
    </div>
</template>
<script lang="ts" setup>
import { defineComponent, ref, computed } from 'vue';
import { useStore } from "../../../stores/globalStore"
import { translate } from '../../../languages/languages';
import { getApi, postApi } from "../../../services/server"
import { DEV_MODE } from '../../../constants/config';
import * as urls from "../../../constants/url"

const store = useStore()

const lang = computed(() => {
    return store.settings.lang
});

const user = computed(() => {
    return store.activeUser
})

const id = ref("")

const handleGetUserDetails = async() => {
    //console.log(user)
    let config = {
        headers: {
            'Authorization': 'Bearer ' + user.value.token
        }
    }
    const response = await getApi(urls.URL_USERS, "", config)
    //console.log(response)
}


</script>
<style lang="less" scoped>
.container {
    display: flex;
    flex-direction: column;
}
</style>

