<script lang="ts" setup>

    import { ref, computed, watch, onMounted } from 'vue'
    import {translate} from "../../languages/languages"
        
    
    import {useStore} from "../../stores/globalStore"

    interface StatusBadgeProps  {
        message: string
        callback: (props?:any) => void
        cancel: (props?:any) => void
        visible: boolean
        title: string
    }
    const props = defineProps<StatusBadgeProps>()
    
    const store = useStore()
    const getStatusBadgeColor = computed(()=>{
        return ""
    })

</script>

<template>
<!-- 
@ok="props.callback()"
@cancel="props.cancel()"
-->
        <a-modal
            @cancel="props.cancel()"
            :cancelText="translate(store.settings.lang, 'general.cancel')"
            :okText="translate(store.settings.lang, 'general.ok')"
            :title="props.title" 
            id="accept-modal" 
            :visible="props.visible"
        >
        <template #footer>
            <a-button class="custom-button accept-cancel" key="back" @click="props.cancel()">{{translate(store.settings.lang, 'general.cancel')}}</a-button>
            <a-button class="custom-button accept-ok" key="submit" type="primary" @click="props.callback()">{{translate(store.settings.lang, 'general.ok')}}</a-button>
        </template>
            {{message}}
    </a-modal>
</template>
<style>
.ant-modal-wrap{
    z-index: 1005!important;
}
.ant-modal-mask{
    z-index: 1004!important;
}
.ant-drawer{
    z-index:998!important;
}
</style>


<style lang="less" scoped>

</style>