<template>
    <a-table :columns="computedColumns" :data-source="dataSource" bordered class="footer-data-table footer-data-table-dataset" >
        <template #headerCell="{column}" class="table-header">
            {{globalHelper.capitalizeFirstLetter(column.title)}}
        </template>
        <template #bodyCell="{ column, text, record }">
            <span v-if="typeof text === 'string'">
                {{text}}
            </span>
            <span v-else>
                <span v-for="t of text" :key="'token-t-'+column.dataIndex">
                    <span v-if="typeof t === 'string'">
                        <a-tag >{{t}}</a-tag>
                    </span>
                    <span v-else >
                            [<a-tag >{{t[0]}}</a-tag> - {{t[1]}} ]
                    </span>
                </span>
            </span>
            <!-- <template v-if="['name', 'age', 'address'].includes(column.dataIndex)">
                <div>
                    <a-input v-if="editableData[record.key]" v-model:value="editableData[record.key][column.dataIndex]"
                        style="margin: -5px 0" />
                    <template v-else>
                        {{text}}
                    </template>
                </div>
            </template> -->
        </template>
    </a-table>
</template>
<script setup lang="ts">
import { translate } from '../languages/languages';
import { cloneDeep } from 'lodash-es';
import { defineComponent, computed, reactive, ref } from 'vue';
import type { UnwrapRef } from 'vue';
import * as globalHelper from "../../helpers/globalHelper"
import {useStore} from "../../stores/globalStore"


const store = useStore()


const lang = computed(() => {
    return store.settings.lang
});
//PROPS-----------------------------------------

    interface dataProps {
        columns: []
        data:[]
        columnGraphs?:boolean
    }
    const props = withDefaults(defineProps<dataProps>(),{
        columns:[],
        data:[],
        columnGraphs: false
    })

        const computedData = computed(()=>{
            return props.data
        })
        
        const computedColumns = computed(()=>{
            return props.columns
        })
        const dataSource = ref(computedData);
        const editableData: UnwrapRef<Record<string, DataItem>> = reactive({});

        const edit = (key: string) => {
            editableData[key] = cloneDeep(dataSource.value.filter(item => key === item.key)[0]);
        };
        const save = (key: string) => {
            Object.assign(dataSource.value.filter(item => key === item.key)[0], editableData[key]);
            delete editableData[key];
        };
        const cancel = (key: string) => {
            delete editableData[key];
        };
</script>
<style lang="less" scoped>
.editable-row-operations a {
    margin-right: 8px;
}

</style>
<style lang="less">
.footer-data-table-dataset .ant-tag{
    margin-right:0;
    margin-left: 5px;
}
.ant-table table{
    table-layout: fixed!important;
}
.footer-data-table .ant-table-cell{
    padding:5px!important;
}
.footer-data-table tr{
    background-color:#1A192B;
    color: white;
    // background-color:@tableBackground!important;
    // color: @textColor!important;
}
.footer-data-table tr:hover{
    background-color:#1A192B;
    color: white;
    // background-color:@tableBackground!important;
    // color: @textColor!important;
}
.footer-data-table .ant-table-cell-row-hover{
    background-color:#fff!important;
    color: #1A192B!important;
    // background-color:@tableHeader!important;
    // color: @tableBackground!important;
}
.table-header{
    /* max-width: 150px; */
}
</style>