
<template>
    <div>
        <VOnboardingWrapper ref="wrapper" :steps="steps" class="onboarding">
            <template #default="{ previous, next, step, exit, isFirst, isLast, index }">
                <VOnboardingStep>
                    <div class="custom-step">
                        <div class="custom-step-header">
                            <h3 v-if="step.content.title" >{{
                                    step.content.title
                            }}</h3>
                            <a-button class="custom-button danger"  danger type="primary" @click="() => { handleExit(exit) }">X</a-button>
                        </div>

                        <div class="custom-step-body">
                            <div v-if="step.content">
                                <div v-if="step.content.description" >
                                    <p>{{ step.content.description }}</p>
                                </div>
                            </div>

                        </div>

                        <div class="custom-step-footer">
                            <a-button class="custom-button"  v-if="step.on !== undefined" @click="step.on.before()" type="button" >run
                                before</a-button>
                            <a-button class="custom-button"  v-if="step.on !== undefined" @click="step.on.after()" type="button" >run
                                after</a-button>
                            <div class="custom-step-navigation-buttons">
                                <a-button class="custom-button"  v-if="!isFirst" @click="previous" type="button" >Previous</a-button>
                                <span >{{
                                        `${index + 1}/${steps.length}`
                                }}</span>
                                <a-button class="custom-button"  @click="() => { handleNext(next, isLast) }" type="button" >{{
                                        isLast ? 'Finish' : 'Next'
                                }}</a-button>
                            </div>
                        </div>
                    </div>
                </VOnboardingStep>
            </template>
        </VOnboardingWrapper>
    </div>
</template>

<script setup  lang="ts">
import { defineComponent, ref, onMounted, computed, onUpdated, onUnmounted } from 'vue'
import { VOnboardingWrapper, VOnboardingStep, useVOnboarding } from 'v-onboarding'
import 'v-onboarding/dist/style.css'
import { useStorage } from '@vueuse/core'
import { useStore } from "../../stores/globalStore"
import { translate } from '../../languages/languages'
import { next } from 'lodash-es'

interface OnBoardingProps {
    visible: Boolean
}
const props = defineProps<OnBoardingProps>()

const store = useStore()

const lang = computed(() => {
    return store.settings.lang
});
// const showOnboarding = useStorage("showOnboarding", true)

const showOnboarding = ref(props.visible)
// console.log(showOnboarding.value)
const wrapper = ref(null)

const log = () => {
    console.log(arguments)
    for (let a of arguments) {
        console.log(a)
    }
    return ""
}
const handleNext = (next, isLast) => {
    next()
    if (isLast) {
        setOnBoardingOff()
    }
}

const setOnBoardingOff = () => {
    // showOnboarding.value = false
    store.setSettings({
        showOnboarding: false
    })
}


const handleExit = (exit) => {
    exit()
}

//dodělat - fixnout - podmínku když je false tak nezobrazovat + vymyslet a doplnit jednotlivé kroky

const { start, goToStep, finish } = useVOnboarding(wrapper)
const steps = [
    {
        attachTo: {
            element: '.drawer-header'
        }, content: {
            title: translate(lang.value, "onBoarding.titles.settingsPrefferences"),
            description: translate(lang.value, "onBoarding.descriptions.settingsPrefferences")
        },
        options: {
            scrollToStep: {
                enabled: true
            }
        }
    },
    {
        attachTo: {
            element: '#settings-actionButtons .ant-switch'
        }, content: {
            title: translate(lang.value, "onBoarding.titles.actionButtons"),
            description: translate(lang.value, "onBoarding.descriptions.actionButtons")
        },
        options: {
            scrollToStep: {
                enabled: true
            }
        }
    },
    {
        attachTo: {
            element: '#settings-modalDisplay .ant-switch'
        }, content: {
            title: translate(lang.value, "onBoarding.titles.modalDisplay"),
            description: translate(lang.value, "onBoarding.descriptions.modalDisplay")
        },
        options: {
            scrollToStep: {
                enabled: true
            }
        }
    },
    {
        attachTo: {
            element: '#settings-autoTabSave .ant-switch'
        }, content: {
            title: translate(lang.value, "onBoarding.titles.autoTabSave"),
            description: translate(lang.value, "onBoarding.descriptions.autoTabSave")
        },
        options: {
            scrollToStep: {
                enabled: true
            }
        }
    },
    {
        attachTo: {
            element: '#settings-acceptModalAllowed .ant-switch'
        }, content: {
            title: translate(lang.value, "onBoarding.titles.acceptModalAllowed"),
            description: translate(lang.value, "onBoarding.descriptions.acceptModalAllowed")
        },
        options: {
            scrollToStep: {
                enabled: true
            }
        }
    },
    {
        attachTo: {
            element: '#settings-showOnboarding .ant-switch'
        }, content: {
            title: translate(lang.value, "onBoarding.titles.showOnboarding"),
            description: translate(lang.value, "onBoarding.descriptions.showOnboarding")
        },
        options: {
            scrollToStep: {
                enabled: true
            }
        }
    },
    {
        attachTo: {
            element: '#settings-numberOfTabs .ant-input-number'
        }, content: {
            title: translate(lang.value, "onBoarding.titles.numberOfTabs"),
            description: translate(lang.value, "onBoarding.descriptions.numberOfTabs")
        },
        options: {
            scrollToStep: {
                enabled: true
            }
        }
    },
    {
        attachTo: {
            element: '#settings-handleSize .ant-input-number'
        }, content: {
            title: translate(lang.value, "onBoarding.titles.handleSize"),
            description: translate(lang.value, "onBoarding.descriptions.handleSize")
        },
        options: {
            scrollToStep: {
                enabled: true
            }
        }
    },
    {
        attachTo: {
            element: '#settings-messageOn .ant-switch'
        }, content: {
            title: translate(lang.value, "onBoarding.titles.messageOn"),
            description: translate(lang.value, "onBoarding.descriptions.messageOn")
        },
        options: {
            scrollToStep: {
                enabled: true
            }
        }
    },
    {
        attachTo: {
            element: '#settings-messageTime .ant-input-number'
        }, content: {
            title: translate(lang.value, "onBoarding.titles.messageTime"),
            description: translate(lang.value, "onBoarding.descriptions.messageTime")
        },
        options: {
            scrollToStep: {
                enabled: true
            }
        }
    }
]

onUpdated(() => {
    if (props.visible) {
        start()
    }
})

</script>
<style lang="less">
// .onboarding {
//     z-index: 200;
// }

// // .onboarding svg {
// //     z-index: 200 !important;
// // }

// .onboarding>div>div {

//     z-index: 999 !important;
// }

// // .onboarding svg {
// //     background: greenyellow;
// // }

// .custom-step {
//     background: white;
//     padding: 20px;
//     z-index: 200 !important;
//     border-radius: 10px;
//     max-width: 400px;
// }

// .custom-step-header {
//     display: flex;
//     justify-content: space-between;
// }

// .custom-step-body {
//     display: flex;

// }

// .custom-step-footer {
//     display: flex;
//     width: 100%;
// }


// .custom-step-navigation-buttons {
//     justify-content: space-between;
//     display: flex;
//     width: 100%;
// }

// .buttons-line {
//     width: 100%;
//     padding: 10px;
// }

// .buttons-line div {
//     width: 100%;
//     display: flex;
//     justify-content: space-between
// }
</style>



<!-- transform: translate(1203.05px, 508.152px) scale(0.665141); -->
<!-- transform: translate(2023.94px, 733.779px) scale(1.67605); -->