<script setup lang="ts">
import {ref, computed} from "vue"
import { useStore } from "../../stores/globalStore";
import { translate } from '../../languages/languages';

const emit = defineEmits<{
  (e: 'tagChanged', tags: string[]): void
}>()


interface TagManagerProps {
   id: string
   columnsToDrop: string[]
}
const props = defineProps<TagManagerProps>();

const store = useStore()
const lang = computed(() => {
    return store.settings.lang
});

const tagsInput = ref("")
const tags = ref(props.columnsToDrop)

const handleTagsInputChange = (e) => {
    let str = e.target.value
    if (str[str.length-1]===","||str[str.length-1]===" "||str[str.length-1]===";"){
        let lastWord = ""
        const newTag = str.slice(0, str.length - 1)

        let tagFounded = false
        for (let tag of tags.value){
            if (tag === newTag){
                tagFounded = true
            }
        }

        if(!tagFounded){
            tags.value.push(newTag)
        }
        tagsInput.value = ""
        
        emit('tagChanged',tags.value)
    }
}

const handleTagClose = (tagToRemove) => {
    let newTags = []
    for (let tag of tags.value){
        if (tag !== tagToRemove){
            newTags.push(tag)
        }
    }
    tags.value = newTags

    emit('tagChanged',newTags)
}

</script>

<template>
    <div :id="props.id">
    {{translate(lang,"customNode.columnsToDrop")}}:
  <a-input v-model:value="tagsInput" @change="handleTagsInputChange" />
  <div class="tags">
    <div v-for="[index, tag] of tags.entries()" :key="'tag-' + index">
        <a-tag closable @close="handleTagClose(tag)">{{ tag }}</a-tag>
        
    </div>
    </div>
</div>
</template>
<style>
.ant-tag-hidden{
    display: inline-block!important;
}
</style>

<style lang="less" scoped>
.tags{
    display: flex;
    flex-wrap: wrap;
}
</style>