<template>
    <div>
        <a-transfer v-model:target-keys="targetKeys" v-model:selected-keys="selectedKeys" :data-source="props.columns"
            :titles="['Source', 'Target']" :render="item => item.title" :disabled="disabled" @change="handleChange"
            @selectChange="handleSelectChange" @scroll="handleScroll" />
        <a-switch v-model:checked="disabled" :un-checked-children="translate(lang,'customNode.enabled')" :checked-children="translate(lang,'customNode.disabled')"
            style="margin-top: 16px" />
    </div>
</template>


<script lang="ts" setup>
import { defineComponent, watch, ref, computed } from 'vue';
import {useStore} from "../../stores/globalStore"   
import { translate} from '../../languages/languages';
    
    const lang = computed(() => {
        return store.settings.lang
    });
    
    const store = useStore()
interface Data {
    key: string;
    title: string;
    description: string;
    disabled: boolean;
}
interface TransferProps {
    columns: Data[]
    onChange: (event:any) => void
    target: string[]
}
const props = defineProps<TransferProps>()

watch(()=>props.target, () => {
    targetKeys.value = props.target
})
// const mockData: MockData[] = [];
// for (let i = 0; i < 20; i++) {
//     mockData.push({
//         key: i.toString(),
//         title: `content${i + 1}`,
//         description: `description of content${i + 1}`,
//         disabled: i % 3 < 1,
//     });
// }
const oriTargetKeys = props.columns.filter(item => +item.key % 3 > 1).map(item => item.key);

const disabled = ref<boolean>(false);

const targetKeys = ref<string[]>(props.target); //props.target

const selectedKeys = ref<string[]>([]);

const handleChange = (nextTargetKeys: string[], direction: string, moveKeys: string[]) => {
    
    
    
   
    props.onChange(targetKeys.value)
};
const handleSelectChange = (sourceSelectedKeys: string[], targetSelectedKeys: string[]) => {
    
    
};
const handleScroll = (direction: string, e: Event) => {
    
    
};

</script>